@import "../assets/styles/mixins.scss";

.login {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    outline: none;
    display: flex;
    justify-content: center;
    background-color: $color-black;
    background-size: 100%;
    background-position: center;
    position: relative;

    .backgroundText {
        position: absolute;
        top: 30px;
        left: 30px;
        @include font("basier", 12px, $color-white, 500, normal, 18px);
        width: 300px;
        text-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
    }

    .loginContainer {
        margin-top: 60vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .loginForm {
        position: initial;
        z-index: 99;
        position: relative;
        height: 22px;
        width: 136px;
        transition: all 0.1s;
        background: rgba(0, 0, 0, 0.15);

        &:hover {
            background: rgba(0, 0, 0, 0.45);
        }

        .loginInput {
            background: none;
            outline: none;
            height: 100%;
            width: 100%;
            border-radius: 2px;
            padding-top: 1px;
            font-size: 16px;
            line-height: 22px;
            transition: all .3s ease;
            text-align: center;
            border: 1px solid rgba(255, 255, 255, 0.3);
            color: #fff;
        }

        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active {
            transition: background-color 5000s ease-in-out 0s !important;
            -webkit-text-fill-color: #fff !important;
            font-size: 16px !important;
            line-height: 22px !important;
        }

        .loginBtn {
            position: absolute;
            right: -30px;
            top: 2px;
            z-index: 1001;
            width: 18px;
            height: 18px;
            background: none;
            outline: none;
            border: none;
            cursor: pointer;

            img {
                opacity: 0;
            }
        }

        .loginBtnLoading {
            @extend .loginBtn;

            img {
                opacity: 0.81;
            }

            animation: rotate 3s normal linear infinite;
        }
    }

    .loginAlert {
        @include font("basier", 12px, $color-white, 500, normal, 21px);
        text-align: center;
        margin-top: 9px;
    }

}

@keyframes rotate {
    0% {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
    }

    25% {
        -webkit-transform: rotate3d(0, 0, 1, 90deg);
        transform: rotate3d(0, 0, 1, 90deg);
    }

    50% {
        -webkit-transform: rotate3d(0, 0, 1, 180deg);
        transform: rotate3d(0, 0, 1, 180deg);
    }

    75% {
        -webkit-transform: rotate3d(0, 0, 1, 270deg);
        transform: rotate3d(0, 0, 1, 270deg);
    }

    100% {
        -webkit-transform: rotate3d(0, 0, 1, 360deg);
        transform: rotate3d(0, 0, 1, 360deg);
    }
}