@import "../assets/styles/mixins.scss";

.login {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    outline: none;
    display: flex;
    justify-content: center;
    background-color: $color-black;
    position: relative;

    .loginImage {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .backgroundText {
        position: absolute;
        top: 30px;
        left: 60px;
        @include font($f-loginText, 12px, $color-white, 500, normal, 18px);
        width: 300px;
        text-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
    }

    .backgroundTitle {
        position: absolute;
        bottom: 9px;
        right: 15px;
        @include font($f-loginText, 12px, $color-white, 500, normal, 18px);
        text-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
    }

    .loginContainer {
        margin-top: 60vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .loginForm {
        position: relative;
        z-index: 99;
        width: 180px;
        transition: all 0.1s;
        background: rgba(0, 0, 0, 0.15);
        border-radius: 6px;

        &:hover {
            background: rgba(0, 0, 0, 0.45);
        }

        .loginInput {
            background: none;
            outline: none;
            height: 100%;
            width: 100%;
            font-size: 16px;
            line-height: 22px;
            transition: all .3s ease;
            text-align: center;
            border: 1px solid rgba(255, 255, 255, 0.3);
            color: #fff;
            padding: 2px 0 2px;
            border-radius: 6px;
        }

        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active {
            transition: background-color 5000s ease-in-out 0s !important;
            -webkit-text-fill-color: #fff !important;
            font-size: 16px !important;
            line-height: 22px !important;
            background: rgba(0, 0, 0, 0.15) !important;
        }

        .loginBtn {
            position: absolute;
            right: -30px;
            top: 2px;
            z-index: 1001;
            width: 21px;
            height: 21px;
            background: none;
            outline: none;
            border: none;
            cursor: pointer;

            img {
                opacity: 0;
                transition: all 0.3s;
            }

            &:hover img {
                opacity: 1;
            }

        }

        .loginBtnLoading {
            @extend .loginBtn;

            img {
                opacity: 1;
            }

            animation: rotate360 3s normal linear infinite;
        }
    }

    .loginAlert {
        @include font($f-loginText, 12px, $color-red-2, 500, normal, 21px);
        text-align: center;
        margin-top: 9px;
        text-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
    }

}

@keyframes rotate360 {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}