@import "../../assets/styles/mixins.scss";

.weather {
    min-width: 360px;
    max-width: 360px;
    height: calc(100vh - 34px);
    overflow-x: hidden;
    overflow-y: scroll;
    position: inherit;
    outline: none;
    position: relative;

    .weatherBackground {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    &::-webkit-scrollbar {
        display: none;
    }

    .weatherGeosDay {
        background: none;
        outline: none;
        border: none;
        height: 20px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 999;
        @include font('Rubik', 12px, $color-black, 400, normal, 12px);

        option {
            @include font('Rubik', 12px, $color-black, 400, normal, 12px);
        }
    }

    .weatherGeosNight {
        @extend .weatherGeosDay;
        color: $color-calendar-white;
    }

    .weatherContentDay {
        width: 360px;
        min-height: 120px;
        position: inherit;
        z-index: 3;
        @include flex-center;
    }

    .weatherContentNight {
        @extend .weatherContentDay;

        p {
            color: $color-calendar-white !important;
        }
    }

    .weatherContentLoading {
        width: 360px;
        min-height: 120px;
        position: inherit;
        z-index: 3;
        text-align: center;
    }

    .weatherChart {
        position: inherit;
        z-index: 3;
        background-color: rgba(255, 255, 255, 0.06);
        backdrop-filter: blur(6px);
        box-shadow: rgba(0, 0, 0, 0.6) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        border-radius: 6px;
        width: 330px;
        height: 193px;
        margin: 0 15px;
        @include flex-center-column;
    }

    .weatherChartContent {
        height: 150px;
        width: 330px;
    }

    .weatherPredict {
        @include font('Rubik', 12px, $color-black, 500, normal, 15px);
        text-align: center;
    }

    .weatherChartLoading {
        width: 330px;
        height: 193px;
        background-color: rgba(255, 255, 255, 0.06);
        backdrop-filter: blur(6px);
        box-shadow: rgba(0, 0, 0, 0.6) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        border-radius: 6px;
        margin: 0 15px;
        position: inherit;
        z-index: 3;
    }

    .weatherContentText {
        .weatherContentTemp {
            @include font('Rubik', 54px, $color-black, 400, normal, 50px);
        }

        .weatherContentInfo {
            @include font('Rubik', 10px, $color-black, 400, normal, 12px);
        }

        .weatherContentWind {
            @include flex;
            height: 10px;
            margin: 2px 0;

            p {
                @include font('Rubik', 10px, $color-black, 400, normal, 12px);
                margin-right: 3px;
            }
        }
    }

}