@import "../../assets/styles/mixins.scss";

.weather {
    min-width: 360px;
    max-width: 360px;
    height: calc(100vh - 34px);
    overflow-x: hidden;
    overflow-y: scroll;
    position: inherit;
    outline: none;
    position: relative;

    .weatherBackground {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    &::-webkit-scrollbar {
        display: none;
    }

    .weatherContent {
        position: absolute;
        z-index: 999;
        width: 100%;
        @include flex-center-column;
        padding: 9px 0;

        .weatherSelect {
            background: none;
            border: none;
            outline: none;
            appearance: none;
            margin-left: -18px;
            cursor: pointer;
            @include font('SFProDisplay', 21px, $color-white, 300, normal, 20px);
            z-index: 1001;

            option {
                text-align: center;
                @include font('SFProDisplay', 12px, $color-black, 400, normal, 12px);
            }
        }

        .weatherTemperature {
            cursor: default;
            @include font('SFProDisplay', 81px, $color-white, 200, normal, 81px);
        }

        .weatherImgDiv {
            @include flex-center;
            cursor: default;

            p {
                @include font('SFProDisplay', 16px, $color-white, 400, normal, 18px);
            }

            .weatherImg {
                margin-left: 3px;
            }

            margin: -3px 0;
        }

        .weatherInfoDiv {
            @include flex-center;
            cursor: default;

            .weatherInfo {
                color: $color-white;
                margin: 0 3px;
                @include flex-center;

                span {
                    @include font('SFProDisplay', 12px, $color-white, 400, normal, 10px);
                    margin-left: 3px;
                }
            }

        }
    }

    .weatherHourly {
        @include flex;
        z-index: 99;
        width: 360px;
        position: absolute;
        top: 162px;
        overflow-x: scroll;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
        padding: 9px 0;
        border-top: 1px solid #ffffff73;
        border-bottom: 1px solid #ffffff73;

        &::-webkit-scrollbar {
            display: none;
        }

        .weatherHourlyItem {
            @include flex-center-column;
            min-width: 60px;
            scroll-snap-align: start;

            .weatherHourlyTime {
                @include font('SFProDisplay', 12px, $color-white, 400, normal, 12px);
            }

            .weatherHourlyProb {
                @include font('SFProDisplay', 12px, #52a0c1, 500, normal, 16px);
            }

            .weatherHourlyProbHidden {
                min-height: 16px;
            }

            .weatherHourlyIcon {
                margin-top: -6px;
            }

            .weatherHourlyTemp {
                @include font('SFProDisplay', 14px, $color-white, 500, normal, 14px);
            }
        }
    }


    .weatherChart {
        position: absolute;
        z-index: 3;
        top: 254px;
        width: 330px;
        margin: 0 15px;
        @include flex-center-column;
    }

    .weatherChartContent {
        height: 120px;
        width: 330px;
    }

    .weatherPredict {
        @include font('SFProDisplay', 12px, $color-white, 500, normal, 15px);
        letter-spacing: 0.5px;
        text-align: center;
        margin-top: -12px;
    }

    .weatherChartLoading {
        @include flex-center;
        z-index: 3;
    }
}