.btn-layout {
  @apply ml-0.5 flex h-9 w-9 items-center justify-center rounded-md bg-[#070707] font-sans text-4 font-600 leading-5 text-white opacity-15 transition hover:opacity-100 active:scale-90;
}

.btn-nav {
  @apply ml-1 flex h-full flex-1 items-center justify-center overflow-hidden rounded-1 text-center text-2.5 font-400 leading-2.5 text-white shadow-sm shadow-black/30 backdrop-blur-md transition hover:bg-black/20 hover:shadow-[0_0_3px_0px_#00000078_inset];
}

.btn-nav-active {
  @apply ml-1 flex h-full flex-1 items-center justify-center overflow-hidden rounded-1 bg-black/20 text-center text-2.5 font-400 leading-2.5 text-white shadow-sm shadow-black/30 backdrop-blur-md transition;
}

.btn-bookmark {
  @apply mr-2 flex h-8.5 w-8.5 items-center justify-center rounded-full bg-black/15 text-white ring-1 ring-white/5 transition duration-100 hover:bg-black/5;
}

.btn-bookmark svg {
  @apply active:scale-90;
}

.btn-bookmark-delete {
  @apply h-9 w-[60px] rounded-2 bg-black/15 text-center text-4 font-600 leading-9 text-black/75 ring-1 ring-white/5 transition duration-100 first-of-type:mr-2 hover:bg-black/10;
}

.btn-nav-menu {
  @apply my-0.1 flex h-9 w-9 items-center justify-center rounded-full text-white outline-none transition duration-100 hover:bg-white/15;
}

.btn-nav-menu-timer {
  @apply relative my-0.1 flex h-9 w-9 items-center justify-center overflow-hidden rounded-full text-white outline-none transition duration-100 hover:bg-white/15;
}

.btn-close {
  @apply flex h-6 w-8 items-center justify-center text-white/30 outline-none transition duration-100 hover:text-white;
}

.btn-submit {
  @apply mr-1 flex h-9 w-9 items-center justify-center rounded-full bg-white/5 text-white ring-1 ring-white/30 transition duration-100 hover:bg-white/10;
}

.btn-submit:active,
.btn-submit:focus {
  @apply mr-1 flex h-9 w-9 items-center justify-center rounded-full bg-white/25 text-white ring-1 ring-white/30;
}

.btn-close-edit {
  @apply flex h-5 w-9.5 items-center justify-center text-white opacity-10 outline-none transition duration-100 hover:opacity-100;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 9s linear infinite;
}

.quiz-choice {
  @apply relative mb-3 w-2/3 select-none overflow-hidden rounded-2 border-y border-b-white/10 border-t-white/15 bg-black/10 py-1.5 text-center text-5 leading-7 text-white shadow-md shadow-black/30 backdrop-blur-lg transition duration-100 hover:bg-black/15 hover:shadow-sm hover:shadow-black/45;
  text-shadow: 0 1px 3px black;
}

.quiz-choice-true {
  @apply relative mb-3 w-2/3 select-none overflow-hidden rounded-2 border-y border-b-white/10 border-t-white/15 bg-green-400 py-1.5 text-center text-5 leading-7 text-white shadow-sm shadow-black/45 backdrop-blur-lg transition;
  text-shadow: 0 1px 3px black;
}

.quiz-choice-false {
  @apply relative mb-3 w-2/3 select-none overflow-hidden rounded-2 border-y border-b-white/10 border-t-white/15 bg-red-500 py-1.5 text-center text-5 leading-7 text-white shadow-sm shadow-black/45 backdrop-blur-lg transition;
  text-shadow: 0 1px 3px black;
}

.quiz-choice-letter {
  @apply absolute -top-1 left-1/2 -translate-x-1/2 text-[42px] uppercase leading-[30px] text-white/20;
  text-shadow: none;
}
