.btn-layout {
  @apply ml-0.5 flex h-9 w-9 items-center justify-center rounded-md bg-[#070707] font-sans text-4 font-600 leading-5 text-white opacity-15 transition hover:opacity-100 active:scale-90;
}

.btn-nav {
  @apply flex-1 overflow-hidden border-r border-r-[#343434];
  text-shadow: 1px 1px 1px #000000;
}

.btn-nav span {
  @apply inline-block h-full w-full font-sfpro text-2.5 font-600 leading-2.5 text-[#d1d1d1] opacity-0 transition hover:text-white hover:opacity-100;
  padding: 1px;
}

.btn-menu {
  @apply h-11 w-[86px] bg-cover;
}

.btn-close {
  @apply m-0.1 flex h-5 w-9.5 items-center justify-center rounded-sm bg-[#070707] text-[#ececec] outline-none transition hover:bg-[#de0000] hover:text-white;
}

.btn-submit {
  @apply flex h-9 w-[90px] items-center justify-center rounded-[3px] bg-[#070707] text-[#ececec] transition hover:bg-black hover:text-white;
  background-image: url("/images/input-left-corner.webp"),
    url("/images/input-right-corner.webp");
  background-position:
    left top,
    right top;
  background-repeat: no-repeat, no-repeat;
  background-size:
    auto 27px,
    auto 27px;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 9s linear infinite;
}

.collapsible__trigger-icon {
  width: 20px;
  height: 20px;
  transition: transform 250ms;
}
.collapsible__trigger[data-expanded] .collapsible__trigger-icon {
  transform: rotateZ(180deg);
}
