.btn-layout {
  @apply ml-0.5 flex h-9 w-9 items-center justify-center rounded-md bg-[#070707] font-sans text-4 font-600 leading-5 text-white opacity-15 transition hover:opacity-100 active:scale-90;
}

.btn-nav {
  @apply ml-0.1 h-full flex-1 overflow-hidden rounded-1 pt-0.5 text-center text-2.5 font-400 leading-2.5 text-white transition hover:bg-black/20 hover:shadow-[0_0_3px_0px_#00000078_inset];
}

.btn-nav-active {
  @apply ml-0.1 h-full flex-1 overflow-hidden rounded-1 bg-black/20 pt-0.5 text-center text-2.5 font-400 leading-2.5 text-white shadow-[0_0_3px_0px_#00000078_inset] transition;
}

.btn-bookmark {
  @apply mr-1 flex h-8.5 w-8.5 items-center justify-center rounded-full bg-black/15 text-white ring-1 ring-white/5 transition duration-100 hover:bg-black/5;
}

.btn-bookmark svg {
  @apply active:scale-90;
}

.btn-bookmark-delete {
  @apply h-9 w-[60px] rounded-2 bg-black/15 text-center text-4 font-600 leading-9 text-black/75 ring-1 ring-white/5 transition duration-100 first-of-type:mr-2 hover:bg-black/10;
}

.btn-nav-menu {
  @apply my-0.1 flex h-9 w-9 items-center justify-center rounded-full text-white transition duration-100 hover:bg-white/15;
}

.btn-nav-menu-timer {
  @apply relative my-0.1 flex h-9 w-9 items-center justify-center overflow-hidden rounded-full text-white transition duration-100 hover:bg-white/15;
}

.btn-close {
  @apply flex h-5 w-9.5 items-center justify-center text-white outline-none transition duration-100 hover:bg-[#de0000] hover:text-white;
}

.btn-submit {
  @apply mr-1 flex h-9 w-9 items-center justify-center rounded-full bg-white/5 text-white ring-1 ring-white/30 transition duration-100 hover:bg-white/10;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 9s linear infinite;
}
