.bookmarkTextContent::first-letter {
  font-family: "Open Sans";
  font-size: 125px;
  color: #dcd8d1;
  font-style: normal;
  line-height: 100px;
  text-transform: uppercase;
  float: left;
  margin: 6px 6px 0 0;
  display: block;
  background: url("/images/TheEndoftheDay.webp") 0 0 no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0 3px 3px 3px;
  border: 1px solid #111111;
  text-shadow: 0 0 6px rgb(0, 0, 0);
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.schedule-date {
  @apply flex h-8 w-[50px] items-center justify-center text-center font-rubik text-4 font-400 uppercase leading-7.5;
}

.schedule-date:nth-child(7n + 1) span {
  @apply !text-[#f90000];
}

.schedule-date:nth-child(7n + 1) .today-date {
  @apply !bg-[#f90000] !text-white;
}

.schedule-title {
  @apply my-1 h-8 w-[50px] border-b border-black/20 bg-black/30 pt-1.5 text-center font-rubik text-4 font-500 uppercase leading-6 text-white;
}

.quiz-choice {
  @apply mb-3 w-2/3 select-none overflow-hidden rounded-2 border-y border-b-white/10 border-t-white/15 bg-black/15 py-1.5 text-center text-5 leading-7 text-white shadow-md shadow-black/30 backdrop-blur-lg transition hover:bg-black/10 hover:shadow-lg;
}

.quiz-choice-true {
  @apply mb-3 w-2/3 select-none overflow-hidden rounded-2 border-y border-b-white/10 border-t-white/15 bg-green-400/60 py-1.5 text-center text-5 leading-7 text-white shadow-md shadow-black/30 backdrop-blur-lg transition;
}

.quiz-choice-false {
  @apply mb-3 w-2/3 select-none overflow-hidden rounded-2 border-y border-b-white/10 border-t-white/15 bg-red-500/60 py-1.5 text-center text-5 leading-7 text-white shadow-md shadow-black/30 backdrop-blur-lg transition;
}

.light-layout {
  @apply border-y border-b-white/10 border-t-white/15 bg-black/15 shadow-md shadow-black/45 backdrop-blur-xl;
}

.dark-layout {
  @apply border-y border-b-white/10 border-t-white/15 bg-black/45 shadow-md shadow-black/45 backdrop-blur-xl;
}

.definition-example {
  @apply pb-2 pl-[5px] pr-1 pt-1 indent-6 font-opensans text-4.5 font-400 leading-7.5 text-black;
}

.definition-example b,
.definition-example em {
  @apply px-1 pb-0.1 pt-0.5 indent-6 font-opensans text-4.5 font-700 leading-7.5 text-black;
  animation: textAnimate 0.1s linear forwards;
  animation-delay: 3s;
}

@keyframes textAnimate {
  to {
    color: #f90000;
    background: #000000;
  }
}

.definition-credit {
  @apply ml-auto flex w-fit flex-wrap items-end justify-end;
}

.definition-credit span {
  @apply bg-[#ededed4d] px-1 pt-0.5 font-sfpro text-[13px] font-500 leading-[17px] text-black;
}

.definition-credit > span:first-child {
  @apply border-l border-black pl-6;
}
