.bookmarkTextContent::first-letter {
  font-family: "Open Sans";
  font-size: 125px;
  color: #dcd8d1;
  font-style: normal;
  line-height: 100px;
  text-transform: uppercase;
  float: left;
  margin: 6px 6px 0 0;
  display: block;
  background: url("/images/TheEndoftheDay.webp") 0 0 no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0 3px 3px 3px;
  border: 1px solid #111111;
  text-shadow: 0 0 6px rgb(0, 0, 0);
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.schedule-date {
  @apply flex h-8 w-[50px] items-start justify-center text-center font-rubik text-4 font-400 uppercase leading-7.5;
}

.schedule-date:nth-child(7n + 1) span {
  @apply !text-[#f90000];
}

.schedule-date:nth-child(7n + 1) .today-date {
  @apply !bg-[#f90000] !text-white;
}

.schedule-title {
  @apply my-1 h-8 w-[50px] border-b border-black/20 bg-black/30 pt-1.5 text-center font-rubik text-4 font-500 uppercase leading-6 text-white;
}

.light-layout {
  @apply border-y border-b-white/15 border-t-white/25 bg-black/15 shadow-md shadow-black/45 backdrop-blur-xl;
}

.dark-layout {
  @apply border-y border-b-white/10 border-t-white/15 bg-black/45 shadow-md shadow-black/45 backdrop-blur-xl;
}

.definition {
  @apply rounded-3 border-y border-b-white/10 border-t-white/15 bg-black/10 p-3 shadow-md shadow-black/30 backdrop-blur-lg;
}

.definition-example {
  background: #fff none repeat scroll 0 0;
  box-decoration-break: clone;
  padding: 0 9px;
}

.definition-example b,
.definition-example em {
  font-weight: 500;
  font-style: normal;
  animation: textAnimate 0.1s linear forwards;
  animation-delay: 2.5s;
}

@keyframes textAnimate {
  to {
    color: #f90000;
  }
}

.definition-credit {
  @apply ml-auto flex w-fit flex-wrap items-end justify-end;
}

.definition-credit span {
  @apply bg-white/30 px-1 pt-0.5 font-sfpro text-[13px] font-500 leading-[17px] text-black;
}

.definition-credit > span:first-child {
  @apply border-l border-black pl-6;
}

.w-main {
  width: 402px;
  margin: 0 auto;
}

.h-main {
  height: calc(100vh - 42px);
}

.w-content {
  width: 378px;
  margin: 0 auto;
}

.h-content {
  height: calc(100vh - 90px);
}

.search-results {
  animation: expand-height 0.1s linear forwards;
}

@keyframes expand-height {
  from {
    height: 30vh;
  }

  to {
    height: calc(100vh - 96px);
  }
}
