@import "../assets/styles/mixins.scss";

.bookmarkContainer {
    @include baseBody;
    width: 100%;
    padding: 0 !important;

    .bookmarkHeader {
        position: sticky;
        top: 0;
        left: 0;
        width: 360px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        border-bottom: 1px solid $color-border;
        background: $color-background-4;
        height: 27px;

        .bookmarkHeaderLeft {
            height: 100%;
            @include flex;
            padding: 0 3px;
        }

        .bookmarkHeaderRight {
            margin: 1px 2px;
        }
    }

    .bookmarkLoading {
        font-size: 13px;
        padding: 6px 9px;
    }

    .bookmarkBody {
        font-size: 13px;
        line-height: 1.1rem;
        padding: 6px 9px;
        min-height: 80px;

        .bookmarkPassage::first-letter {
            @include font("NYTCheltenham", 60px, $color-white, normal, normal, 60px);
            float: left;
            margin-right: 6px;
            background: $color-black;
            padding: 0 6px;
            margin-top: 3px;
            text-align: center;
            text-transform: uppercase;
            border-radius: 3px;

            background-image: url('/images/main/input-left-corner.png'),
                url('/images/main/input-right-corner.png');
            background-position: left top,
                right top;
            background-repeat: no-repeat,
                no-repeat;
            background-size: auto 100%,
                auto 100%;
        }
    }

    .bookmarkBodyChecked {
        @extend .bookmarkBody;
        background: url("/images/main/paper.jpeg");
        background-size: cover;
    }
}