@import "../assets/styles/mixins.scss";

.bookmarkContainer {
    @include baseBody();
    width: 100%;
    max-width: calc(100vw - 360px);
    height: 100%;
    padding: 25px 40px 25px 25px !important;
    border: 0;
    outline: 0;
    z-index: 12;
    overflow-y: scroll;
    background-size: cover;

    .bookmarkButtons {
        position: absolute;
        right: 0;
        top: 30%;
        z-index: 1001;
        padding-right: 3px;
        width: 40px;
        @include flex-center-column;

        .bookmarkLike {
            width: 100%;
            text-align: center;
            @include font($f-bookmarkLike, 11px, $color-white, 500, normal, 12px);
        }
    }

    &::-webkit-scrollbar {
        display: none;
    }

    .bookmarkContent {
        width: 100%;
        min-height: 100%;
        border: 1px solid rgb(99, 99, 99);
        display: flex;
        flex-direction: column;
        outline: none;
        position: relative;

        .bookmarkSeparated {
            width: 100%;
            text-align: center;
            margin: 6px 0 0;
        }

        .bookmarkTitle {
            text-transform: uppercase;
            @include font($f-bookmarkTitle, 30px, #111111, 500, normal, 36px);
            text-align: center;
            padding: 0 6px;
            margin-top: 4px;
        }

        .bookmarkPassage::first-letter {
            @include font($f-bookmarkText, 120px, $color-white, 700, normal, 100px);
            float: left;
            margin-right: 6px;
            margin-top: 6px;
            background: rgb(21, 21, 21);
            padding: 6px 12px 0;
            text-align: center;
            text-transform: uppercase;
            border-radius: 3px;

            background-image: url('/images/main/input-left-corner.webp'),
                url('/images/main/input-right-corner.webp');
            background-position: left top,
                right top;
            background-repeat: no-repeat,
                no-repeat;
            background-size: auto 100%,
                auto 100%;
        }

        .bookmarkPassage {
            @include font($f-bookmarkText, 20px, #111111, 400, normal, 30px);
            padding: 0 3px 0 18px;
        }

        .bookmarkAuthor {
            @include font($f-bookmarkAuth, 15px, #111111, 600, normal, 16px);
            padding: 0 6px;
            text-align: right;
            text-transform: capitalize;
            margin-top: 6px;
        }

        .bookmarkYear {
            @include font($f-bookmarkYear, 14px, #111111, 600, normal, 16px);
            padding: 0 6px;
            text-align: right;
        }

        .buttonBookmarkLeft {
            position: absolute;
            left: -25px;
            top: -25px;
            height: calc(100% + 50px);
            width: 90px;
            border: 0;
            outline: 0;
            cursor: pointer;
            background: transparent;
            transition: all 0.6s;
            z-index: 810;
        }

        .buttonBookmarkRight {
            position: absolute;
            right: -40px;
            top: -25px;
            height: calc(100% + 50px);
            width: 90px;
            border: 0;
            outline: 0;
            cursor: pointer;
            background: transparent;
            transition: all 0.6s;
            z-index: 810;
        }

    }

    .bookmarkContentChecked {
        @extend .bookmarkContent;
        background: url("/images/main/paper.webp");
        background-repeat: repeat-y;
        background-size: cover;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    .likeAnimation {
        position: absolute;
        top: calc(50% - 75px);
        left: calc(50% - 75px);
        animation: pulse 500ms;

        svg {
            filter: drop-shadow(0 12px 24px rgba(0, 0, 0, 0.3));
        }
    }


    .bookmarkEditContainer {
        width: 100%;
        margin-top: 3px;
    }

    .bookmarkTextArea {
        @include font($f-bookmarkArea, 12px, $color-black, 400, normal, 15px);
        padding: 3px;
        width: 100%;
        background: none;
        outline: none;
        border: 1px solid $color-border;
        min-height: 150px;
        background-color: $color-calendar-bg;
    }
}


@keyframes pulse {
    0% {
        transform: scale3d(1.5, 1.5, 1.5) rotate(15deg);
        opacity: 0.1;
    }

    75% {
        transform: scale3d(0.7, 0.7, 0.7) rotate(-15deg);
        opacity: 1;
    }

    to {
        transform: scale3d(0.8, 0.8, 0.8) rotate(15deg);
        opacity: 1;
    }
}