@import "../assets/styles/mixins.scss";

.bookmarkContainer {
    @include baseBody;
    width: 100%;
    padding: 0 !important;

    .bookmarkHeader {
        position: sticky;
        top: 0;
        left: 0;
        width: 360px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        border-bottom: 1px solid $color-border;
        background: $color-background-4;
        height: 27px;

        .bookmarkHeaderLeft {
            height: 100%;
            @include flex;
            padding: 0 3px;
        }

        .bookmarkHeaderRight {
            margin: 1px 2px;
        }
    }

    .bookmarkLoading {
        font-size: 13px;
        padding: 6px 9px;
    }

    .bookmarkBody {
        font-size: 13px;
        line-height: 1.1rem;
        padding: 6px 9px;
        min-height: 125px;

        .bookmarkPassage::first-letter {
            @include font("NYTCheltenham", 60px, $color-white, normal, normal, 60px);
            float: left;
            margin-right: 6px;
            background: $color-black;
            padding: 0 6px;
            margin-top: 3px;
            text-align: center;
            text-transform: uppercase;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

            background-image: url('/images/main/input-left-corner.png'),
                url('/images/main/input-right-corner.png');
            background-position: left top,
                right top;
            background-repeat: no-repeat,
                no-repeat;
            background-size: auto 100%,
                auto 100%;
        }

        .bookmarkPassage {
            @include font("NYTImperial", 12px, $color-black, normal, normal, 16px);
        }
    }

    .bookmarkBodyChecked {
        @extend .bookmarkBody;
        background: url("/images/main/paper.jpeg");
        background-size: 900px auto;
    }

    .bookmarkTextArea {
        @include font("basier", 12px, $color-black, 400, normal, 15px);
        width: 100%;
        padding: 3px;
        background: none;
        outline: none;
        border: 1px solid $color-border;
        min-height: 150px;
        background-color: $color-calendar-bg;
    }

    .bookmarkCredits {
        text-align: right;
        border-bottom: 1px solid $color-border;
        margin-bottom: 3px;

        .bookmarkTitle {
            text-transform: uppercase;
            @include font('NYTImperial', 12px, $color-black, 600, normal, 14px);
        }

        .bookmarkAuthor {
            font-variant: small-caps;
            @include font('NYTImperial', 14px, $color-black, 600, normal, 16px);
        }

        .bookmarkYear {
            @include font('NYTImperial', 10px, $color-black, 600, normal, 14px);
        }
    }
}