@import "../assets/styles/mixins.scss";

.bottom {
    position: relative;
    height: 36px;
    width: 360px;
    border-top: 1px solid $color-border;

    .bottomBar {
        height: 100%;
        width: 100%;
        background-color: $color-black;
        @include flex;
        position: relative;
        z-index: 10000;
    }

    .bottomIndex {
        width: 10px;
        height: 100%;
        background: #454545;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: default;

        .bottomIndexNums {
            @include flex-center-column;
            width: 100%;
            flex-grow: 1;

            span {
                text-align: center;
                @include font($f-botIndexNum, 9px, $color-black, 600, normal, 11px);
                display: block;
                text-shadow: 0 0 0 #111111;
            }
        }

        .bottomIndexDay {
            width: 100%;
            height: 13px;
            background-color: $color-black;
            @include flex-center;

            span {
                @include font($f-botIndexText, 9px, #454545, 700, normal, 9px);
                transform: rotateZ(-90deg);
            }
        }
    }

    .bottomDivide {
        width: 1px;
        height: 100%;
        background: $color-border;
    }

    .bottomCenter {
        outline: none;
        border: none;
        border-left: 0.25px solid $color-border;
        border-right: 0.25px solid $color-border;
        background: $color-black;

        .bottomCenterContent {
            cursor: pointer;
            height: 100%;
            width: 18px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;

            span {
                @include font($f-botCenterNum, 21px, #d7d7d7, 600, normal, 17px);
                mix-blend-mode: difference;
                padding-bottom: 1px;
            }

            small {
                @include font($f-botCenterNum, 19px, #d7d7d7, 600, normal, 16px);
                mix-blend-mode: difference;
                padding-bottom: 1px;
            }
        }
    }

    .bottomBtn {
        display: block;
        height: 100%;
        border: 0;
        outline: 0;
        position: relative;
        overflow: hidden;

        .bottomBtnImage {
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            object-position: top;
            filter: brightness(0.9) contrast(1.1);
        }

        &:hover .bottomBtnImage {
            filter: brightness(1) contrast(1.1);
        }

        span {
            @include font($f-botButton, 9px, $color-white, 600, normal, 9px);
            text-align: center;
            position: absolute;
            bottom: 1px;
            left: 0;
            z-index: 12;
            display: block;
            width: 100%;
            height: 9px;
            opacity: 1;
            transition: 0.3s ease;
            text-shadow: 0 1px 0.5px black;
        }

        small {
            @include font($f-botButton, 9px, $color-white, 400, normal, 9px);
            text-align: center;
            position: absolute;
            bottom: -10px;
            left: 0;
            z-index: 9;
            display: block;
            width: 100%;
            height: 9px;
            opacity: 0;
            transition: 0.3s ease;
            text-shadow: 0 1px 0.5px black;
        }

        &:hover {
            span {
                bottom: -10px;
                opacity: 0;
            }

            small {
                bottom: 1px;
                opacity: 1;
            }
        }
    }

    .bottomBtnActive {
        @extend .bottomBtn;

        span,
        div {
            color: $color-white;
        }
    }

    .bottomBtn1 {
        @extend .bottomBtn;
        flex-grow: 1;
    }

    .bottomBtn2 {
        @extend .bottomBtn;
        flex-grow: 1;
    }

    .bottomBtnWeather {
        @extend .bottomBtn;
        flex-grow: 1;
        min-width: 86px;

        .bottomBtnWeatherBg {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            object-fit: cover;
            filter: brightness(0.75) contrast(1.1);
        }

        &:hover {
            filter: brightness(1.2);
        }

        .scrollingTextContainer {
            width: 100%;
            overflow: hidden;
            position: absolute;
            z-index: 3;
            bottom: 1px;
            left: 0px;
        }

        .scrollingTextInner {
            display: flex;
            white-space: nowrap;
            @include font($f-botButton, 9px, $color-white, 600, normal, 9px);
            -webkit-font-smoothing: subpixel-antialiased;
        }

        .scrollingText {
            display: flex;
        }

        .scrollingTextItem {
            min-width: 72px;
            margin: 0 6px;
            text-align: center;
            @include font($f-botButton, 9px, $color-white, 600, normal, 9px);
            text-shadow: 0 1px 0.5px black;
        }

        .scrollingTextInner>div {
            animation: scrollLeft 12s linear infinite;
        }


        .bottomWeatherImageContainer {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            animation: float 12s linear infinite;

            .bottomWeatherImg {
                position: absolute;
                top: -1px;
                right: 12px;
                z-index: 1;
                filter: drop-shadow(0 1px 0.5px black);
            }

            p {
                @include font($f-botWeatherTemp, 8px, #d7d7d7, 600, normal, 10px);
                position: absolute;
                top: 1px;
                right: 1px;
                text-shadow: 0 1px 0.5px black;
                z-index: 1;
            }
        }

        .bottomBtn3Content {

            span,
            small {
                padding-left: 15px;
            }
        }
    }

    .bottomBtn4 {
        @extend .bottomBtn;
        min-width: 86px;
        cursor: default;
        flex-grow: 1;


        &:hover {

            span,
            small {
                color: #7c7b7a;
            }
        }
    }

    .bottomImageContent {
        height: 100%;
        width: 86px;
        position: relative;
        cursor: pointer;
        z-index: 33;
        overflow: hidden;
        transition: all 0.3s ease;

        &:hover {
            filter: brightness(1.2);
        }

        .bottomImage {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 12;
        }

        .bottomImageBackground {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            z-index: 13;
            object-fit: cover;
            object-position: top left;
            box-shadow: 2px 0px 6px rgba(0, 0, 0, 0.6);
            border-right: 0.5px solid black;
        }

    }

    .buttonMenuContent {
        $height: 30px;
        $space: 36px;
        $margin: 3px;

        position: absolute;
        right: 0;
        width: 120px;
        height: $height;
        transition: all 0.25s ease;
        text-align: right;
        z-index: 9999;
        transform: translateX(86px);

        &:hover {
            transform: translateX(0);
        }

        &:nth-child(2) {
            bottom: $space;
        }

        &:nth-child(3) {
            bottom: $space + $height;
        }

        &:nth-child(4) {
            bottom: $space + 2*$height;
        }

        &:nth-child(5) {
            bottom: $space + 3*$height;
        }

        &:nth-child(6) {
            bottom: $space + 4*$height;
        }

        &:nth-child(7) {
            bottom: $space + 5*$height;
        }
    }
}


@keyframes scrollLeft {
    0% {
        transform: translateX(0%) translate3d(0, 0, 0);
    }

    100% {
        transform: translateX(-100%) translate3d(0, 0, 0);
    }
}


@keyframes float {
    0% {
        transform: translate3d(0, 0, 0);
    }

    50% {
        transform: translate3d(-7px, 0, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}