@import "../assets/styles/mixins.scss";

.bottom {
    position: relative;
    height: 36px;
    width: 360px;
    border-top: 1px solid $color-border;

    .bottomBar {
        height: 100%;
        width: 100%;
        background-color: $color-black;
        @include flex;
        position: relative;
        z-index: 10000;

        .bottomBtn:nth-child(2) {
            background: url("/images/main/stanczyk.webp") 0 0 no-repeat;
            background-size: cover;
        }

        .bottomBtn:nth-child(4) {
            background: url("/images/main/sisifo.webp") 0 0 no-repeat;
            background-size: cover;
        }

        .bottomBtn:nth-child(6) {
            background: url("/images/main/TheEndoftheDay.webp") 0 0 no-repeat;
            background-size: cover;
        }
    }

    .bottomIndex {
        width: 10px;
        height: 100%;
        background: #454545;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: default;

        .bottomIndexNums {
            @include flex-center-column;
            width: 100%;
            flex-grow: 1;

            span {
                text-align: center;
                @include font($f-botIndexNum, 9px, $color-black, 600, normal, 11px);
                display: block;
                text-shadow: 0 0 0 #111111;
            }
        }

        .bottomIndexDay {
            width: 100%;
            height: 13px;
            background-color: $color-black;
            @include flex-center;

            span {
                @include font($f-botIndexText, 9px, #454545, 700, normal, 9px);
                transform: rotateZ(-90deg);
            }
        }
    }

    .bottomBtn {
        flex-grow: 1;
        height: 100%;
        position: relative;
        overflow: hidden;

        span {
            @include font($f-botButton, 8px, #d1d1d1, 600, normal, 8px);
            position: absolute;
            bottom: 0px;
            left: 0px;
            text-align: left;
            width: 100%;
            padding: 1px 0 0 2px;
            opacity: 0;
            text-shadow: 0 1px 0.5px #000000;
            transition: all 0.15s;
        }

        &:hover {
            span {
                color: #ffffff;
                opacity: 1;
            }
        }
    }

    .bottomBtnWeather {
        height: 100%;
        width: 99px;
        max-width: 99px;
        position: relative;
        overflow: hidden;

        .bottomBtnImage {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .bottomBtnIndex {
            position: absolute;
            @include flex-center-column;
            bottom: 0px;
            left: 0px;
            width: 18px;
            height: 35px;
            background-color: rgba(0, 0, 0, 0.45);
            cursor: default;
            box-shadow: 0 0 2px #000000;

            sup {
                @include font($f-botCenterNum, 21px, #d1d1d1, 600, normal, 17px);
                padding-bottom: 1px;
            }

            text {
                @include font($f-botCenterNum, 19px, #d1d1d1, 600, normal, 16px);
                padding-bottom: 1px;
            }
        }

        .bottomBtnWeatherInfo {

            .bottomWeatherImg {
                position: absolute;
                top: 2px;
                right: 9px;
                filter: drop-shadow(0px 2px 2px #000000);
            }

            label {
                @include font($f-botWeatherTemp, 8px, #d1d1d1, 600, normal, 8px);
                position: absolute;
                top: 2px;
                right: 0px;
                text-shadow: 0px 0px 6px #000000;
            }
        }

        .scrollingTextContainer {
            position: absolute;
            bottom: 0px;
            right: 0px;
            width: calc(100% - 18px);
            overflow: hidden;

            .scrollingTextContent {
                display: flex;
                align-items: center;

                >div {
                    animation: scrollLeft 12s linear infinite;
                }

                .scrollingText {
                    display: flex;

                    .scrollingTextItem {
                        @include font($f-botButton, 9px, $color-white, 600, normal, 9px);
                        text-wrap: nowrap;
                        margin: 0 6px;
                        width: max-content;
                        text-shadow: 0 1px 0.5px #000000;
                    }
                }
            }
        }
    }

    .bottomBtnPlay {
        flex-grow: 1;
        height: 100%;
        width: 85px;
        max-width: 85px;
        position: relative;
        overflow: hidden;
        cursor: pointer;

        .bottomBtnPlayImage {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .bottomBtnPlayImageProgress {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            z-index: 13;
            object-fit: cover;
            object-position: top left;
            box-shadow: 2px 0px 6px rgba(0, 0, 0, 0.6);
            border-right: 0.5px solid #000000;
            transition: all 0.3s ease;
        }

    }

    .bottomBtnSep {
        width: 1px;
        height: 100%;
        background-color: $color-border;
    }

    .buttonMenuContent {
        $height: 36px;
        $space: 36px;

        position: absolute;
        right: 0;
        width: 120px;
        height: $height;
        transition: all 0.25s ease;
        text-align: right;
        z-index: 9999;
        transform: translateX(86px);

        &:hover {
            transform: translateX(0);
        }

        &:nth-child(2) {
            bottom: $space;
        }

        &:nth-child(3) {
            bottom: $space + $height;
        }

        &:nth-child(4) {
            bottom: $space + 2*$height;
        }

        &:nth-child(5) {
            bottom: $space + 3*$height;
        }

        &:nth-child(6) {
            bottom: $space + 4*$height;
        }

        &:nth-child(7) {
            bottom: $space + 5*$height;
        }
    }
}


@keyframes scrollLeft {
    0% {
        transform: translateX(0%) translate3d(0, 0, 0);
    }

    100% {
        transform: translateX(-100%) translate3d(0, 0, 0);
    }
}