@import "../assets/styles/mixins.scss";

.bottom {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 360;
    height: 34px;
    border-top: 1px solid $color-border;
    background-color: $color-background-1;
    @include flex;

    .mainFooterLeftIndex {
        width: 6px;
        height: 33px;
        background: $color-border;
        display: flex;
        flex-direction: column;
        align-items: center;

        .indexIndex {
            @include flex-center-column;
            width: 6px;
            height: 20px;

            span {
                @include font("basier", 9px, $color-black, 600, normal, 10px);
                text-align: center;
            }
        }

        .indexDay {
            width: 6px;
            height: 13px;
            background-color: $color-black;
            @include flex-center;

            span {
                @include font("basier", 7px, #575757, 600, normal, 6px);
                height: 6px;
                transform: rotateZ(-90deg);
            }

        }
    }

    .mainFooterCenterBtn {
        height: 33px;
        width: 16px;
        display: block;
        cursor: pointer;
        background: none;
        outline: none;
        border: none;
        border-left: 1px solid #34343472;
        border-right: 1px solid #34343472;
        transition: all 0.1s;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;

        span {
            @include font("Roslindale", 12px, #7c7b7a, 600, normal, 15px);
        }

        small {
            @include font("Roslindale", 10px, #7c7b7a, 600, normal, 14px);
        }

        &:hover {
            background: $color-border;
        }
    }

    .mainFooterBtn {
        display: block;
        height: 100%;
        border: 0;
        outline: 0;
        transition: color 0.1s;
        text-wrap: wrap;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        padding-bottom: 1px;

        span {
            @include font('Roslindale', 9px, #7c7b7a, 600, normal, 9px);
            text-align: center;
        }

        small {
            @include font('Roslindale', 6px, #7c7b7a, 400, normal, 6px);
        }

        &:hover {

            span,
            small {
                color: $color-white;
            }
        }

        // &--1 {
        //     width: 85px;
        // }

        // &--2 {
        //     width: 84px;
        // }

        // &--3 {
        //     width: 79px;
        // }

        // &--4 {
        //     min-width: 90px;
        //     max-width: 90px;
        //     cursor: default;

        //     &:hover {

        //         span,
        //         small {
        //             color: #7c7b7a;
        //         }
        //     }
        // }
    }

    .mainFooterBtnActive {
        @extend .mainFooterBtn;

        span,
        small {
            color: $color-white;
        }
    }

    .mainFooterBtn1 {
        @extend .mainFooterBtn;
        width: 85px;
    }

    .mainFooterBtn2 {
        @extend .mainFooterBtn;
        width: 84px;
    }

    .mainFooterBtn3 {
        @extend .mainFooterBtn;
        width: 79px;
    }

    .mainFooterBtn4 {
        @extend .mainFooterBtn;
        min-width: 90px;
        max-width: 90px;
        cursor: default;

        &:hover {

            span,
            small {
                color: #7c7b7a;
            }
        }
    }

    .mainFooterCornerBtn {
        height: 100%;
        width: 90px;
        position: relative;
        cursor: pointer;
        z-index: 33;
        overflow: hidden;
        transition: all 0.3s ease;

        &:hover {
            filter: brightness(1.2);
        }

        .mainFooterCornerBtnImage {
            position: absolute;
            top: 0;
            left: 0;
            width: 90px;
            height: 100%;
            z-index: 12;
        }
    }

}