@import "../assets/styles/mixins.scss";

.calendarDropdown {
    @include baseBody($color-calendar-bg);
    width: 360px;
    margin-bottom: 3px;

    .calendarDropdownHeader {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        border-bottom: 1px solid $color-calendar-border;
        height: 21px;
        padding: 2px 0 2px 2px;

        .calendarDropdownHeaderLeft {
            p {
                @include font('Rubik', 12px, $color-black, 400, normal, 18px);
            }
        }

        .calendarDropdownHeaderRight {
            @include flex;
        }
    }

    .calendarDropdownBody {
        padding-top: 3px;
    }
}