@import "../assets/styles/mixins.scss";

.definition {
    @include baseBody(#f7f7f7);
    min-width: 360px;
    max-width: 360px;
    padding: 0;
    overflow-x: hidden;

    .definitionHeader {
        position: absolute;
        top: 1px;
        right: 1px;
        z-index: 99;
        display: flex;
    }

    .definitionBody {
        .websEntry {
            background: $color-vintage-background;
            position: relative;

            &:last-child {
                border-bottom: 1px solid $color-border;
            }

            .websHead {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 9;
                text-shadow: 0 0px 0px rgba(0, 0, 0, 0.9);
                width: 100%;

                .websHeadPartOfSpeech {
                    @include font("Poppins", 18px, $color-black, 600, normal, 15px);
                    text-transform: uppercase;
                    padding: 4px 2px 0;
                    background: rgba(255, 254, 255, 0.45);
                    position: inherit;
                    top: 5px;
                    right: 27px;
                    cursor: pointer;
                }

                .websHeadDropdown {
                    visibility: hidden;
                    opacity: 0;
                    position: absolute;
                    right: 0;
                    z-index: 9999;
                    margin-top: 1px;
                    display: none;

                    .websHeadDropdownItem {
                        @include font('SFProDisplay', 12px, $color-calendar-black, 500, normal, 18px);
                        padding: 0 2px;
                        text-align: right;
                        display: inline-block;
                        margin: 0 0 1px;
                        background: $color-vintage-background;
                        text-transform: none;
                        text-wrap: nowrap;
                    }
                }

                .websHeadPartOfSpeech:hover .websHeadDropdown {
                    visibility: visible;
                    opacity: 1;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                }

            }

            .websDefsContainer {
                position: relative;
                top: 0;
                left: 0;
                z-index: 6;
                width: 100%;

                .websSense {
                    width: 100%;

                    &:first-child {
                        padding-top: 24px;
                    }

                    .websDefs {
                        background: $color-black;
                        position: initial;
                        width: 100%;
                        padding: 5px 3px 4px 6px;
                    }
                }


                .websSenseHasImage {
                    width: 100%;
                    height: 215px;
                    overflow: hidden;
                    position: relative;

                    &:first-child {
                        height: 240px;
                    }

                    .websImg {
                        object-fit: cover;
                        object-position: center 60%;
                        width: 100%;
                        height: 100%;
                        z-index: 3;
                    }

                    .websImgOverlay {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        z-index: 6;
                        background: linear-gradient(to top,
                                rgba(0, 0, 0, 0.95) 0%,
                                rgba(0, 0, 0, 0.5) 25%,
                                rgba(0, 0, 0, 0.1) 40%,
                                transparent 50%,
                                transparent 100%);
                    }

                    .websDefs {
                        position: absolute;
                        width: 100%;
                        bottom: 0;
                        left: 0;
                        z-index: 9;
                        padding: 5px 3px 4px 6px;
                    }
                }


            }
        }




        .websDef {
            @include font('Poppins', 11px, $color-calendar-bg, 400, normal, 16px);
            text-shadow: 0 0px 2px rgba(0, 0, 0, 0.9);
            padding: 1px 0 0px;
        }

        .websDefUp,
        .websDef::first-letter {
            @include font('Poppins', 13px, $color-white, 700, normal, 16px);
            text-transform: uppercase;
        }

        .websX {
            @include font('NYTImperial', 12px, $color-black, 400, normal, 18px);

            position: relative;
            text-indent: 24px;
            padding: 3px 3px 3px 6px;
            background: $color-vintage-background;

            b {
                font-weight: 600;
                color: $color-red-1;
            }
        }

        .websSyn {
            background: $color-vintage-background;
            padding: 1px 0 0 6px;

            b {
                @include font('Poppins', 12px, $color-black, 600, normal, 16px);
                text-transform: uppercase;
            }

            small {
                @include font('Poppins', 10px, #282828, 400, normal, 16px);
                color: #727272;
                font-weight: 300;
                text-transform: lowercase;
            }
        }

        .websCredits {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            padding: 0 6px;
            background: $color-vintage-background;

            .websAuthor {
                font-variant: small-caps;
                @include font('NYTImperial', 13px, $color-black, 600, normal, 16px);
            }

            .websTitle {
                text-transform: uppercase;
                @include font('NYTImperial', 13px, $color-black, 600, normal, 16px);
            }

            .websYear {
                @include font('NYTImperial', 12px, $color-black, 600, normal, 16px);
            }
        }
    }
}