@import "../assets/styles/mixins.scss";

.definition {
    @include baseBody($color-vintage-background);
    min-width: 360px;
    max-width: 360px;
    padding: 0;
    margin-bottom: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    border-bottom: 1px solid #1a1a1a;
    transition: all 0.3s ease;

    &::-webkit-scrollbar {
        display: none;
    }

    .websEntry {
        position: relative;
    }

    .websHeader {
        position: absolute;
        top: 3px;
        left: 0;
        z-index: 15;
        width: 100%;
        display: flex;
        justify-content: flex-end;

        .websHeaderContainer {
            min-width: 136px;
            text-align: center;
            margin-right: 15px;

            .websHeaderContent {
                height: 25px;
                display: inline-block;
                padding: 1px 3px 0px;
                @include font($f-defHeader, 24px, $color-black, 700, normal, 24px);
                text-transform: uppercase;
                cursor: pointer;
                background: rgba(255, 254, 255, 0.72);
            }
        }
    }

    .websHeadDropdown {
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 11;
        @include flex-center-column;
        background-color: rgba(0, 0, 0, 0.6);
        transition: all 0.2s;
        backdrop-filter: blur(6px);

        p {
            @include font($f-defDef, 13px, $color-calendar-bg, 500, normal, 18px);
            text-shadow: 0 0 3px black;
        }

        &:hover {
            opacity: 1;
        }
    }

    .websBody {
        .websSense {
            position: relative;
            width: 100%;

            &:first-child {
                padding-top: 24px;

                .websHeadDropdown {
                    top: 24px;
                    z-index: 18;
                    align-items: flex-start;
                    padding-left: 24px;
                }
            }

            .websDefs {
                background: $color-black;
                padding: 2px 3px 2px 6px;
                position: inherit;
                z-index: 16;
            }
        }

        .websSenseImage {
            position: relative;
            width: 100%;
            height: 215px;
            overflow: hidden;

            &:first-child {
                height: 240px;
            }

            .websImg {
                object-fit: cover;
                object-position: center 60%;
                width: 100%;
                height: 100%;
                z-index: 6;
            }

            .websDefs {
                position: absolute;
                width: 100%;
                bottom: 0;
                left: 0;
                z-index: 7;
                padding: 0px 3px 3px 6px;
                text-shadow: 0 0 3px black;
            }

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.15);
            }

        }

        .websDef {
            @include font($f-defDef, 13px, $color-calendar-bg, 500, normal, 18px);
        }

        .websDef::first-letter {
            @include font($f-defDef, 14px, $color-white, 700, normal, 18px);
            text-transform: uppercase;
        }

        .websX {
            @include font($f-defX, 14px, $color-black, 400, normal, 22px);
            position: relative;
            text-indent: 12px;
            padding: 0px 3px 0px 6px;

            b {
                font-weight: 700;
                font-style: italic;
                color: $color-red-1;
            }
        }

        .websSyn {
            @include flex;
            padding: 2px 3px 3px 3px;
            background: #999999;

            svg {
                color: #111111;
                padding-left: 1px;
            }

            span {
                @include font($f-defSyn, 13px, #111111, 600, normal, 16px);
            }
        }

        .websCredits {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            align-items: flex-end;
            padding: 0 3px;

            .websAuthor {
                font-variant: small-caps;
                @include font($f-defAuth, 13px, #111111, 500, normal, 16px);
            }

            .websTitle {
                text-transform: uppercase;
                @include font($f-defTitle, 13px, #111111, 700, normal, 16px);
            }

            .websYear {
                @include font($f-defYear, 12px, #111111, 500, normal, 16px);
            }
        }

    }

}