@import "../assets/styles/mixins.scss";

.edit {
    width: 360px;
    height: 100%;
    padding-top: 0;
    overflow-x: hidden;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }

    .editHeader {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        border-bottom: 1px solid $color-border;
        background: #f7f7f7;
        height: 25px;

        .editHeaderLeft {
            .editHeaderText {
                b {
                    @include font('NYTCheltenham', 13px, $color-black, 500, normal);
                }
            }
        }

        .editHeaderRight {
            padding: 1px;
            @include flex;
        }
    }

    .editBody {
        .searchContent {
            position: relative;
            width: 100%;
            width: 100%;
            height: 27px;
            background: $color-background-2;

            .searchLeftOrnament {
                z-index: inherit;
                height: 27px;
                position: absolute;
                left: 0;
                top: 0;
                z-index: 99;
            }

            .searchRightOrnament {
                z-index: inherit;
                height: 27px;
                position: absolute;
                right: 0;
                top: 0;
                z-index: 99;
            }

            .searchInput {
                height: 27px;
                width: 100%;
                padding: 0 9px;
                background: none;
                border: 0;
                outline: 0;
                text-align: center;
                @include font('Roslindale', 15px, $color-white, 500, normal, 27px);
            }

            .searchButton {
                cursor: pointer;
                transition: opacity 0.3s ease;
                margin-right: 6px;
                height: 27px;
                z-index: 1001;
                background-color: transparent;
                border: none;
                outline: none;
                position: absolute;
                right: 0;
                top: 0;
                @include flex;

                img {
                    height: 18px;
                }
            }

        }

        .handyEditContainer {
            transform-origin: top;
            @include baseBody($color-white);
        }

        .editInputHandy {
            @include font("basier", 12px, $color-black, 400, normal, 15px);
            width: 100%;
            padding: 3px;
            background: none;
            outline: none;
            border: 1px solid $color-border;
            min-height: 150px;
            background-image: url("/images/main/paper.jpeg");
            background-size: 900px auto;
            background-position: top center;
        }

        .editItemThumb {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            margin-bottom: 6px;
        }

        .editItemHeader {
            @include font('NYTImperial', 12px, $color-black, 500, italic, 15px);
            text-indent: 6px;
            margin-bottom: 6px;
            padding: 3px;
            width: 21%;
            border-radius: 3px;
            background: #f7f7f7;
            border: 0;
            outline: 0;
        }

        .editItemDefs {
            width: 170px;
            @include flex-center;
        }

        .editItemDef {
            @include font('NYTCheltenham', 13px, $color-black, 700, normal, 15px);
            text-indent: 3px;
            background: #f7f7f7;
            border-radius: 3px;
            padding: 3px;
            margin-bottom: 3px;
            width: 30%;
            border: 0;
            outline: 0;
            text-overflow: ellipsis;

            &:first-child {
                width: 70%;
                margin-right: 3px;
            }
        }

        .editItemImg {
            width: 165px;
            height: 112px;
            border-radius: 3px;
            background: #f7f7f7;
            position: relative;
        }

        .editItemTextarea {
            @include font('NYTCheltenham', 13px, $color-black, 700, normal, 15px);
            padding: 6px;
            border: 0;
            outline: 0;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            background: none;
            width: 165px;
            height: 112px;
            resize: none;
        }

        .editItemImgBg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
        }

        .editItemXs {
            @include flex-center;

            img {
                margin: 0 3px 3px 0;
            }

            .editItemDef {
                width: 100%;
            }
        }

        .editItemCredit {
            display: flex;
            justify-content: flex-end;

            .editItemDef {
                width: 27%;
            }

            .editItemDef:not(:last-child) {
                margin-right: 3px;
            }
        }
    }
}

.toastContainer {
    width: 360px;
    height: 100vh;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
}

.toastContent {
    @include font("Basier", 12px, $color-black, 400, normal);
}