@use "../assets/styles/mixins.scss" as *;

.edit {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 10000;
    overflow-x: hidden;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }

    .editHeader {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        border-bottom: 1px solid $color-border;
        background: #f7f7f7;
        height: 24px;

        .editHeaderRight {
            padding: 1px;
            @include flex;
        }
    }

    .editBody {
        .searchContent {
            position: relative;
            width: 100%;
            height: 27px;
            background: $color-background-2;

            .searchLeftOrnament {
                z-index: inherit;
                height: 27px;
                position: absolute;
                left: 0;
                top: 0;
                z-index: 99;
            }

            .searchRightOrnament {
                z-index: inherit;
                height: 27px;
                position: absolute;
                right: 0;
                top: 0;
                z-index: 99;
            }

            .searchInput {
                height: 27px;
                width: 100%;
                padding: 0 9px;
                background: none;
                border: 0;
                outline: 0;
                text-align: center;
                @include font($f-searchText, 18px, $color-white, 700, normal, 27px);
            }

            .searchButton {
                cursor: pointer;
                transition: opacity 0.3s ease;
                margin-right: 6px;
                height: 27px;
                z-index: 1001;
                background-color: transparent;
                border: none;
                outline: none;
                position: absolute;
                right: 0;
                top: 0;
                @include flex;

                img {
                    height: 18px;
                }
            }

        }

        .handyEditContainer {
            transform-origin: top;
            @include baseBody($color-white);
        }

        .editInputHandy {
            @include font($f-editInput, 12px, $color-black, 400, normal, 15px);
            width: 100%;
            padding: 3px;
            background: none;
            outline: none;
            border: 1px solid $color-border;
            min-height: 150px;
            background-image: url("/images/main/paper.webp");
            background-size: cover;
        }

        .editItemThumb {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            margin-bottom: 6px;
        }

        .editItemHeader {
            @include font($f-editHeader, 12px, $color-black, 500, italic, 15px);
            text-indent: 6px;
            margin-bottom: 6px;
            padding: 3px;
            width: 21%;
            border-radius: 3px;
            background: #f7f7f7;
            border: 0;
            outline: 0;
        }

        .editItemDefs {
            width: 170px;
            @include flex-center;
        }

        .editItemDef {
            @include font($f-editInput, 12px, $color-black, 400, normal, 15px);
            text-indent: 3px;
            background: #f7f7f7;
            border-radius: 3px;
            padding: 3px;
            margin-bottom: 3px;
            width: 30%;
            border: 0;
            outline: 0;
            text-overflow: ellipsis;

            &:first-child {
                width: 70%;
                margin-right: 3px;
            }
        }

        .editItemImg {
            width: 165px;
            height: 112px;
            border-radius: 3px;
            background: #f7f7f7;
            position: relative;
        }

        .editItemTextarea {
            @include font($f-editInput, 13px, $color-black, 700, normal, 15px);
            padding: 6px;
            border: 0;
            outline: 0;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            background: none;
            width: 165px;
            height: 112px;
            resize: none;
        }

        .editItemImgBg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
        }

        .editItemXs {
            @include flex-center;

            img {
                margin: 0 3px 3px 0;
            }

            .editItemDef {
                width: 100%;
            }
        }

        .editItemCredit {
            display: flex;
            justify-content: flex-end;

            .editItemDef {
                width: 27%;
            }

            .editItemDef:not(:last-child) {
                margin-right: 3px;
            }
        }
    }
}