@import "../assets/styles/mixins.scss";

.flipcardTextContainer {
    width: 100%;
    height: 27px;
    position: absolute;
    top: 4px;
    left: 0;
    z-index: 1000;
    overflow: hidden;

    .flipcardTextContent {
        width: 100%;
        height: 27*3px;

        .flipcardText {
            width: 100%;
            height: 27px;
            @include font("Constantine", 18px, #202020, 700, normal, 27px);
            text-transform: uppercase;
            text-align: center;
        }

        .flipcardPhonetic {
            width: 100%;
            height: 27px;
            @include font("Open Sans", 14px, $color-red-1, 400, normal, 27px);
            text-align: center;

            small {
                font-size: 9px;
                margin: 0 -9px 0 3px;
            }
        }
    }

    .flipcardTextContent:hover,
    .flipcardTextContentHover1 {
        transform: translateY(-28px) !important;
    }

    .flipcardTextContentHover2 {
        transform: translateY(-2*28px);
    }
}

.flipCardNumberContainer {
    position: absolute;
    top: 33px;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: $color-background-1;

    .ticksContainer {
        display: flex;
        align-items: flex-start;

        span {
            display: inline-block;
            @include font('Helvetica', 180px, #f4f4f4, bold, normal, 180px);
        }
    }
}