@import "../assets/styles/mixins.scss";

.flipcardTextContainer {
    width: 100%;
    height: 28px;
    position: absolute;
    top: 4px;
    left: 0;
    z-index: 999;
    overflow: hidden;

    .flipcardTextContent {
        width: 100%;
        height: 28*3px;
        transition: all .15s ease;

        .flipcardText {
            width: 100%;
            height: 28px;
            @include font("NYTCheltenham", 16px, $color-vintage-1, 700, normal, 28px);
            text-transform: uppercase;
            text-align: center;
        }

        .flipcardPhonetic {
            width: 100%;
            height: 28px;
            @include font("SFProDisplay", 15px, $color-red-1, 500, normal, 28px);
            text-align: center;

            small {
                font-size: 9px;
                margin: 0 -9px 0 3px;
            }
        }
    }

    .flipcardTextContent:hover,
    .flipcardTextContentHover1 {
        transform: translateY(-28px);
    }

    .flipcardTextContentHover2 {
        transform: translateY(-2*28px);
    }
}

.flipCardNumberContainer {
    position: absolute;
    top: 37px;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    @include flex-center;
    background-color: rgba(0, 0, 0, 0.05);

    .numberFlipContent {
        width: 110px;
        height: 110px;
        background-color: $color-white;
        position: relative;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.45) 0px 15px 36px, rgba(0, 0, 0, 0.21) 0px 15px 12px;
        animation: scaleUp 0.2s;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-image: url("/images/main/greek-round.webp");
            background-size: cover;
        }

        .numbersContent {
            @include flex-center;
        }

        .numbersContentImg {
            @include flex-center-column;
        }

        .numbers {
            @include flex-column;
        }

        .number {
            @include font('Fraktur', 50px, $color-black, normal, normal, 110px);
            text-align: center;
            vertical-align: middle;
        }

    }
}



.flipCardNumberContainerFadeOut {
    opacity: 0;
    transition: opacity 1.2s cubic-bezier(0.335, 0.010, 0.030, 1.360);

    .numberFlipContent {
        transform: scale(0.6);
        opacity: 0;
        transition: all 0.15s;
    }
}

.flipCardNumberContainerHidden {
    display: none;
}

@keyframes scaleUp {
    0% {
        transform: scale(0.6);
    }

    100% {
        transform: scale(1);
    }
}