@import "../assets/styles/mixins.scss";


.historyCard {
    max-width: 360px;
    overflow: hidden;

    .historyCardItem {
        width: 360px;
        padding: 0 3px;
        display: flex;
        margin-top: 2px;

        .historyCardItemDesc {
            background: $color-calendar-black;
            width: 90px;
            height: 18px;
            padding: 0 6px;
            position: relative;
            cursor: default;
            @include font('Rubik', 10px, $color-white, 500, normal, 18px);

            &::after {
                content: '';
                width: 6px;
                height: 10px;
                position: absolute;
                left: 99%;
                top: 4px;
                background: #161616;
                clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
                z-index: 33;
            }
        }

        .oddCard {
            // background-color: $color-calendar-bg;
            @include flex-center;
            flex-grow: 1;
        }

        .evenCard {
            // background-color: $color-calendar-white;
            @include flex-center;
            flex-grow: 1;
            padding-left: 9px;
        }

        .historyCardItemFrom,
        .historyCardItemTo {
            width: 120px;
            height: 18px;
            padding-left: 24px;
            @include font('Rubik', 10px, $color-black, 500, normal, 18px);
            cursor: default;
        }
    }
}