@import "../assets/styles/mixins.scss";


.historyCard {
    width: 100%;
    height: 100px;
    overflow: hidden;
    padding: 0 6px;

    .historyCardItem {
        width: 100%;
        display: flex;
        justify-content: space-between;

        &:not(:last-child) {
            margin-bottom: 2px;
        }

        .historyCardItemDesc {
            background: $color-calendar-black;
            width: 90px;
            height: 18px;
            padding: 0 6px;
            position: relative;
            cursor: default;
            @include font('Rubik', 10px, $color-white, 500, normal, 18px);

            &::after {
                content: '';
                width: 6px;
                height: 10px;
                position: absolute;
                left: 99%;
                top: 4px;
                background: #161616;
                clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
                z-index: 33;
            }
        }

        .historyCardItemFrom,
        .historyCardItemTo {
            width: 120px;
            height: 18px;
            padding: 0 12px;
            @include font('Rubik', 10px, $color-black, 500, normal, 18px);
            cursor: default;
        }
    }
}