@import "../assets/styles/mixins.scss";

.translation {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 10000;
    overflow-x: hidden;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }

    .translationHeader {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        border-bottom: 1px solid $color-border;
        background: #f7f7f7;
        height: 24px;

        .translationHeaderRight {
            padding: 1px;
            @include flex;
        }
    }

    .translationBody {
        .searchContent {
            position: relative;
            width: 100%;
            width: 100%;
            height: 27px;
            background: $color-background-2;

            .searchLeftOrnament {
                z-index: inherit;
                height: 27px;
                position: absolute;
                left: 0;
                top: 0;
                z-index: 99;
            }

            .searchRightOrnament {
                z-index: inherit;
                height: 27px;
                position: absolute;
                right: 0;
                top: 0;
                z-index: 99;
            }

            .searchInput {
                height: 27px;
                width: 100%;
                padding: 0 9px;
                background: none;
                border: 0;
                outline: 0;
                text-align: center;
                @include font($f-searchText, 18px, $color-white, 700, normal, 27px);
            }

            .searchButton {
                cursor: pointer;
                transition: opacity 0.3s ease;
                margin-right: 6px;
                height: 27px;
                z-index: 1001;
                background-color: transparent;
                border: none;
                outline: none;
                position: absolute;
                right: 0;
                top: 0;
                @include flex;

                img {
                    height: 18px;
                }
            }

        }
    }
}


.translationResult {
    @include baseBody(#f7f7f7);
    width: 360px;
    padding-top: 0;

    .translationResultBody {
        .translationMainResult {
            @include font($f-transMainResult, 14px, #1A73E8, 500, normal, 16px);
            text-align: center;
            text-transform: lowercase;
            cursor: default;
            padding: 6px 0;
        }

        .translationResultContent {
            .translationResultItem {
                p {
                    @include font($f-transItem, 14px, $color-black, 600, normal, 16px);
                    margin: 3px 0 0 6px;
                    cursor: default;
                    display: inline-block;
                }

                .translationResultItemText {
                    .translationResultItemRow {
                        display: grid;
                        grid-template-columns: 2fr 3fr 1fr;
                        align-items: start;

                        span:nth-child(1) {
                            cursor: default;
                            margin-left: 2px;
                            @include font($f-transItem, 12px, $color-black, 400, normal, 16px);
                        }

                        span:nth-child(2) {
                            @include font($f-transItem, 10px, $color-black, 400, normal, 16px);
                        }

                        .frequencyContainer {
                            @include flex-center;
                            height: 16px;

                            .frequencyDot {
                                border-radius: 2px;
                                height: 5px;
                                margin: 1px;
                                width: 9px;
                                background: #1A73E8;
                            }

                            .frequencyClear {
                                border-radius: 2px;
                                height: 5px;
                                margin: 1px;
                                width: 9px;
                                background: $color-calendar-text-2;
                            }
                        }
                    }
                }
            }
        }
    }
}