@import "./fonts.scss";
@import "./mixins.scss";

.toast-notification {
    width: 360px;
    z-index: 1001;
    background: #f8f8ff;
    box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin-bottom: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    border-radius: 3px;
}

.toast-notification .toast-content {
    font-weight: 400;
    color: #353b48;
    background: #fff;
    padding: 6px 9px 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0 1rem;
}

.toast-notification .toast-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    @include flex-center;
    flex-shrink: 0;
}



.toast-notification .toast-msg {
    height: 100%;
    @include font("Basier", 12px, $color-black, 400, normal);

    &::first-letter {
        text-transform: uppercase;
    }
}

.toast-notification .toast-progress {
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.toast-notification .toast-progress-bar {
    background-color: #b7b7b7;
    height: 2px;
    animation: toastProgress 3s ease-in-out forwards;
}

.slide-in-slide-out {
    animation: slideInRight 0.3s ease-in-out forwards, slideOutRight 0.5s ease-in-out forwards 3s;
    transform: translateX(110%);
}

.wiggle-me {
    animation: wiggle 2s ease-in;
}

@keyframes slideInRight {
    0% {
        transform: translateX(110%);
    }

    75% {
        transform: translateX(-10%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes slideOutRight {
    0% {
        transform: translateX(0%);
    }

    25% {
        transform: translateX(-10%);
    }

    100% {
        transform: translateX(110%);
    }
}

@keyframes wiggle {

    0% {
        transform: rotateZ(0);
    }

    7% {
        transform: rotateZ(0);
    }

    15% {
        transform: rotateZ(-13deg);
    }

    20% {
        transform: rotateZ(9deg);
    }

    25% {
        transform: rotateZ(-10deg);
    }

    30% {
        transform: rotateZ(7deg);
    }

    35% {
        transform: rotateZ(-2deg);
    }

    40% {
        transform: rotateZ(0);
    }

    100% {
        transform: rotateZ(0);
    }
}