@import "./fonts.scss";
@import "./mixins.scss";

.calendar {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: inherit;
    outline: none;

    .calendarImage {
        position: relative;
        text-align: center;
        height: 270px;
        width: 360px;
        background-size: cover;
        background-position: center bottom;
        overflow: hidden;

        .calendarImageContent {
            height: 54px;
            width: 62px;
            padding: 3px;
            @include flex-center-column;
            @include font('Poppins', false, $color-calendar-white);
            cursor: pointer;
            background-color: $color-black;
            position: absolute;
            bottom: 9px;
            right: 9px;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 9px 15px, rgba(0, 0, 0, 0.22) 0px 12px 9px;

            p {
                text-align: center;
                font-size: 11px;
                line-height: 10px;
            }

            &:hover p {
                color: $color-white;
            }

            p:nth-child(1) {
                text-transform: uppercase;
            }

            p:nth-child(2) {
                line-height: 27px;
                font-size: 23px;
            }

            p:nth-child(3) {
                font-size: 7px;
                line-height: 7px;
            }
        }
    }

    .calendarDates {
        background: $color-calendar-bg;
        padding: 6px;

        .calendarWeek {
            @include flex-center;
            width: 100%;
            margin: 0 auto;
            margin-bottom: 3px;
            @include font('Poppins', 12px, $color-calendar-white, 600, normal, 21px);

            &:not(:first-child) {
                padding-bottom: 2px;
                border-bottom: 1px dotted $color-calendar-border;
            }

            .calendarWeekTitle {
                background-color: $color-calendar-black;
                text-align: center;
                text-transform: uppercase;
                cursor: default;
                height: 21px;
                width: 49px;

                &:first-child {
                    color: $color-red-1;
                    font-weight: 700;
                }
            }

            .calendarDay {
                height: 21px;
                width: 49px;
                @include flex-center;
                cursor: default;
                position: relative;

                .dateText {
                    @include font('Rubik', 13px, $color-calendar-text-2, 600, normal, 21px);
                }

                .dateTextThisMonth {
                    @include font('Rubik', 13px, $color-calendar-text-1, 600, normal, 21px);
                }

                .dateTimeIndexHidden {
                    font-size: 8px;
                    margin-right: 2px;
                    visibility: hidden;
                }

                .dateTimeIndex {
                    @include flex-center-column;
                    @include font('Rubik', 8px, $color-calendar-text-2, 600, normal, 11px);
                    margin-left: 2px;

                    div:first-child {
                        text-decoration: underline;
                        text-underline-offset: 2px;
                        line-height: 11px;
                    }
                }

                .dateTimeIndexDone {
                    color: $color-calendar-text-1;
                }

                .dateTimeIndexToday {
                    color: $color-calendar-green;
                }

                .todayDate {
                    border-radius: 3px;
                    width: 21px;
                    height: 100%;
                    text-align: center;
                    background: $color-calendar-green;
                    color: $color-black;
                    font-weight: 700;
                    cursor: pointer;
                    box-shadow: rgba(0, 0, 0, 0.3) 0px 15px 21px, rgba(0, 0, 0, 0.22) 0px 12px 9px;
                }
            }
        }

        .calendarDayLoading {
            height: 21px;
            width: 49px;
            @include flex-center;
            @include font('Rubik', 13px, $color-calendar-text-2, 600, normal, 21px);
            filter: blur(3px);
        }
    }

    .historyCard {
        width: 100%;
        height: 100px;
        overflow: hidden;
        padding: 0 6px;

        .historyCardItem {
            width: 100%;
            display: flex;
            justify-content: space-between;

            &:not(:last-child) {
                margin-bottom: 2px;
            }

            .historyCardItemDesc {
                background: $color-calendar-black;
                width: 90px;
                height: 18px;
                padding: 0 6px;
                position: relative;
                cursor: pointer;
                @include font('Rubik', 11px, $color-white, 400, normal, 18px);

                &::after {
                    content: '';
                    width: 6px;
                    height: 10px;
                    position: absolute;
                    left: 99%;
                    top: 4px;
                    background: #161616;
                    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
                    z-index: 33;
                }
            }

            .historyCardItemFrom,
            .historyCardItemTo {
                width: 120px;
                height: 18px;
                padding: 0 12px;
                @include font('Rubik', 11px, $color-black, 400, normal, 18px);
                cursor: default;
            }
        }
    }
}

.keen-slider:not([data-keen-slider-disabled]) {
    align-content: flex-start;
    display: flex;
    overflow: hidden;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    width: 100%;
}

.keen-slider:not([data-keen-slider-disabled]) .keen-slider__slide {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 100%;
}

.keen-slider:not([data-keen-slider-disabled])[data-keen-slider-reverse] {
    flex-direction: row-reverse;
}

.keen-slider:not([data-keen-slider-disabled])[data-keen-slider-v] {
    flex-wrap: wrap;
}

.keen-slider:not([data-keen-slider-disabled])[data-keen-slider-moves] * {
    pointer-events: none;
}