@import "./mixins.scss";

.calendar {
    min-width: 360px;
    max-width: 360px;
    height: calc(100vh - 31px);
    overflow-x: hidden;
    overflow-y: scroll;
    position: inherit;
    outline: none;
    background: $color-white;

    &::-webkit-scrollbar {
        display: none;
    }

    .calendarImage {
        position: relative;
        text-align: center;
        height: 230px;
        width: 360px;
        background-size: cover;
        background-position: center bottom;
        overflow: hidden;

        .calendarImageContent {
            height: 54px;
            width: 62px;
            padding: 3px;
            @include flex-center-column;
            @include font('Poppins', 12px, $color-calendar-white, 400);
            cursor: pointer;
            background-color: $color-black;
            position: absolute;
            bottom: 9px;
            right: 9px;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 9px, rgba(0, 0, 0, 0.22) 0px 6px 9px;

            p {
                text-align: center;
                font-size: 10px;
                line-height: 10px;
            }

            &:hover p {
                color: $color-white;
            }

            p:nth-child(1) {
                text-transform: uppercase;
                margin-bottom: 3px;
            }

            p:nth-child(2) {
                font-size: 24px;
                line-height: 24px;
            }

            p:nth-child(3) {
                font-size: 7px;
                line-height: 7px;
            }
        }
    }

    .calendarDates {
        background: $color-calendar-bg;
        padding: 6px;

        .calendarWeek {
            @include flex-center;
            width: 100%;
            margin: 0 auto;
            padding: 1px 0;
            @include font('Poppins', 12px, $color-calendar-white, 600, normal, 21px);

            &:not(:first-child) {
                border-bottom: 1px dotted $color-calendar-border;
            }

            &:nth-child(2) {
                padding: 2px 0 0;
            }

            .calendarWeekTitle {
                background-color: $color-calendar-black;
                text-align: center;
                text-transform: uppercase;
                cursor: default;
                height: 21px;
                width: 49px;
                line-height: 24px;

                &:first-child {
                    color: $color-red-1;
                    font-weight: 700;
                }
            }

            .calendarDay {
                height: 21px;
                width: 49px;
                @include flex-center;
                cursor: default;
                position: relative;

                .dateText {
                    @include font('Rubik', 13px, $color-calendar-text-2, 600, normal, 21px);
                    height: 21px;
                    padding-top: 1px;
                }

                .dateTextThisMonth {
                    @include font('Rubik', 13px, $color-calendar-text-1, 600, normal, 21px);
                    height: 21px;
                    padding-top: 1px;
                }

                .dateTimeIndexHidden {
                    font-size: 8px;
                    margin-right: 2px;
                    visibility: hidden;
                }

                .dateTimeIndex {
                    @include flex-center-column;
                    @include font('Rubik', 8px, $color-calendar-text-2, 600, normal, 9px);
                    margin-left: 2px;

                    div:first-child {
                        text-decoration: underline;
                        text-underline-offset: 2px;
                        line-height: 12px;
                    }
                }

                .dateTimeIndexDone {
                    color: $color-calendar-text-1;
                }

                .dateTimeIndexToday {
                    color: $color-calendar-green-1;
                }

                .todayDate {
                    border-radius: 3px;
                    width: 21px;
                    height: 21px;
                    text-align: center;
                    background: $color-calendar-green-1;
                    color: $color-black;
                    font-weight: 700;
                    cursor: pointer;
                    box-shadow: 0 3px 9px 0 rgba(21, 94, 46, 0.3), 0 6px 18px 0 rgba(21, 94, 46, 0.2);
                }
            }
        }

        .calendarWeek .calendarDay:nth-child(1) {
            .dateTextThisMonth {
                color: $color-red-1;
            }

            .todayDate {
                background: $color-red-1;
                color: $color-white;
            }

            .dateTimeIndexToday {
                color: $color-red-1;
            }
        }

        .calendarDayLoading {
            height: 21px;
            width: 49px;
            @include flex-center;
            @include font('Rubik', 13px, $color-calendar-text-1, 600, normal, 21px);
            filter: blur(3px);
        }
    }

    .historyCard {
        width: 100%;
        height: 100px;
        overflow: hidden;
        padding: 0 6px;

        .historyCardItem {
            width: 100%;
            display: flex;
            justify-content: space-between;

            &:not(:last-child) {
                margin-bottom: 2px;
            }

            .historyCardItemDesc {
                background: $color-calendar-black;
                width: 90px;
                height: 18px;
                padding: 0 6px;
                position: relative;
                cursor: default;
                @include font('Rubik', 10px, $color-white, 500, normal, 18px);

                &::after {
                    content: '';
                    width: 6px;
                    height: 10px;
                    position: absolute;
                    left: 99%;
                    top: 4px;
                    background: #161616;
                    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
                    z-index: 33;
                }
            }

            .historyCardItemFrom,
            .historyCardItemTo {
                width: 120px;
                height: 18px;
                padding: 0 12px;
                @include font('Rubik', 10px, $color-black, 500, normal, 18px);
                cursor: default;
            }
        }
    }

    .calendarDropdownContainer {
        overflow: hidden;
    }

    .calendarDropdown {
        @include baseBody($color-calendar-bg);
        width: 360px;
        margin-bottom: 3px;

        .calendarDropdownHeader {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            border-bottom: 1px solid $color-calendar-border;
            height: 21px;
            padding: 2px 0 2px 2px;

            .calendarDropdownHeaderLeft {
                p {
                    @include font('Rubik', 12px, $color-black, 400, normal, 18px);
                }
            }

            .calendarDropdownHeaderRight {
                @include flex;
            }
        }

        .calendarDropdownBody {
            padding-top: 3px;

            .calendarDropdownFormContent {
                @include flex;
                width: 100%;

                .calendarInputGroup {
                    flex-grow: 1;

                    &:not(:last-child) {
                        margin-right: 3px;
                    }

                    .calendarInputDate,
                    .calendarInput {
                        border: 1px solid $color-calendar-border;
                        height: 21px;
                        border-radius: 3px;
                        padding: 3px;
                        outline: 0;
                        width: 100%;
                        @include font('Rubik', 11px, $color-black, 400, normal, 18px);
                    }

                    .calendarSelect {
                        border: 1px solid $color-calendar-border;
                        height: 21px;
                        border-radius: 3px;
                        padding: 0 3px;
                        outline: 0;
                        width: 100%;
                        @include font('Rubik', 11px, $color-white, 400, normal, 18px);
                        background: $color-calendar-black;
                    }

                }

                .calendarFormText {
                    height: 21px;
                    background-color: $color-black;
                    @include font('Rubik', 12px, $color-white, 400, normal, 18px);
                    padding: 3px;
                    border-radius: 3px;
                    margin-right: 3px;
                    width: 18%;
                    border: 1px solid $color-calendar-border;
                    color: $color-white;
                }
            }
        }
    }

    .calendarQuote {
        margin-top: 3px;
        background: url("/images/main/grunge-image-tree.webp");
        background-size: cover;
        background-position: left 0 bottom 27%;
        padding: 6px;
        @include font("NYTCheltenham", 12px, $color-black, 700, normal, 14px);
        cursor: default;
    }
}

.keen-slider:not([data-keen-slider-disabled]) {
    align-content: flex-start;
    display: flex;
    overflow: hidden;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    width: 100%;
}

.keen-slider:not([data-keen-slider-disabled]) .keen-slider__slide {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 100%;
}

.keen-slider:not([data-keen-slider-disabled])[data-keen-slider-reverse] {
    flex-direction: row-reverse;
}

.keen-slider:not([data-keen-slider-disabled])[data-keen-slider-v] {
    flex-wrap: wrap;
}

.keen-slider:not([data-keen-slider-disabled])[data-keen-slider-moves] * {
    pointer-events: none;
}