@import "./fonts.scss";
@import "./mixins.scss";

.definition {
    @include baseBody;
    width: 360px;
    padding-top: 0;
    margin-bottom: 3px;

    .definitionHeader {
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        border-bottom: 1px solid #343434;
        background: $color-background-4;
        z-index: 99;
        height: 21px;
        padding: 2px 0 2px 2px;

        .definitionHeaderLeft {
            .definitionHeaderText {
                b {
                    @include font('nyt-cheltenham', 16px, $color-black, 500, normal);
                }

                i {
                    @include font('nyt-cheltenham', 11px, #727272, 400, italic);
                }
            }

            .definitionHeaderIndex {
                @include font('nyt-cheltenham', 13px, $color-black, 500, normal, 21px);
            }

        }

        .definitionHeaderRight {
            @include flex;

            .definitionBtn {
                @include baseButton(28px);
            }
        }
    }


    .definitionBody {
        .sn-gs {
            padding: 3px 0;
            position: relative;

            &:not(:last-child) {
                border-bottom: 1px solid $color-boder;
            }

            .num {
                @include font('nyt-cheltenham', 8px, $color-black, 700, normal, 11px);
                @include flex-center;
                width: 11px;
                height: 11px;
                border-radius: 50%;
                border: 1px solid $color-boder;
                position: absolute;
                top: 4.5px;
                left: 1px;
                z-index: 39;
                background: $color-background-4;
            }

            .def {
                @include font('nyt-imperial', 12px, $color-black, 500, normal, 15px);
                display: block
            }

            .num+.def,
            .num+.sn-g>.def,
            .num+.sn-g>.dsense_h {
                text-indent: 15px;
            }

            .dsense_h {
                @include font('nyt-imperial', 12px, $color-black, 500, italic, 15px);
                display: block
            }

            .x {
                @include font('nyt-imperial', 12px, $color-black, 500, italic, 17px);
                display: block;

                &::before {
                    content: '';
                    display: block;
                    margin-right: 1px;
                    float: left;
                    width: 15px;
                    height: 15px;
                    background: url('/images/main/clover.png');
                    background-size: contain;
                    transform: rotate(-18deg);
                }

                b {
                    font-weight: 600;
                    color: $color-red-1;
                }
            }

            .xr-gs {
                font-weight: 500;
                font-size: 13px;
                line-height: 17px;
                display: block;
                text-transform: uppercase;
                margin-left: 3px;

                small {
                    color: #727272;
                    text-transform: lowercase;
                }
            }


            .thumb_img {
                display: flex;
                margin-bottom: 6px;

                .thumb {
                    margin-right: 6px;
                    display: block;
                    width: 180px;
                    max-height: 180px;
                    border-radius: 3px;
                    // box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px;
                }
            }
        }
    }
}