@import "./fonts.scss";
@import "./mixins.scss";

.definition {
    @include baseBody(#f7f7f7);
    width: 360px;
    padding: 0;

    .definitionHeader {
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        border-bottom: 1px solid #343434;
        background: #f7f7f7;
        z-index: 99;
        height: 21px;
        padding: 1px 1px 3px 3px;

        .definitionHeaderLeft {
            .definitionHeaderText {
                span {
                    @include font('nyt-cheltenham', 14px, $color-black, 500, normal);
                }

                b {
                    @include font('nyt-cheltenham', 16px, $color-black, 700, normal);
                }

                i {
                    @include font('nyt-cheltenham', 11px, #727272, 400, italic);
                }
            }

            .definitionHeaderIndex {
                @include font('nyt-cheltenham', 13px, $color-black, 500, normal, 21px);
            }

        }

        .definitionHeaderRight {
            @include flex;

            .definitionBtn {
                @include baseButton(28px);
            }
        }
    }


    .definitionBody {
        padding-top: 3px;

        .sn-gs {
            position: relative;

            &:not(:last-child) {
                margin-bottom: 4px;
            }

            .sn-g {
                background: $color-vintage-background;
                overflow: hidden;
                padding: 6px 9px;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px, rgba(0, 0, 0, 0.12) 0px 1px 2px;

                &:not(:last-child) {
                    margin-bottom: 8px;
                }
            }


            .num {
                @include font('nyt-cheltenham', 8px, $color-black, 700, normal, 11px);
                @include flex-center;
                width: 11px;
                height: 11px;
                border-radius: 50%;
                border: 1px solid $color-black;
                position: absolute;
                top: 9px;
                left: 9px;
                z-index: 39;
                background: $color-white;
            }

            .def {
                @include font('nyt-cheltenham', 14px, $color-black, 700, normal, 18px);
                display: block;
                margin-bottom: 3px;
                text-transform: capitalize;
            }

            .num+.def,
            .thumb_img .def,
            .num+.sn-g>.def,
            .num+.sn-g>.dsense_h {
                text-indent: 15px;
            }

            .dsense_h {
                @include font('nyt-imperial', 12px, $color-black, 500, italic, 15px);
                display: block;
            }

            .x {
                @include font('nyt-imperial', 12px, $color-black, 600, italic, 18px);
                display: block;

                &::before {
                    content: '';
                    display: block;
                    margin-right: 1px;
                    float: left;
                    width: 15px;
                    height: 15px;
                    background: url('/images/main/clover.png');
                    background-size: contain;
                    transform: rotate(-18deg);
                }

                b {
                    font-weight: 600;
                    color: $color-red-1;
                }
            }

            .xr-gs {
                font-weight: 500;
                font-size: 13px;
                line-height: 17px;
                display: block;
                text-transform: uppercase;
                margin-bottom: 3px;

                small {
                    color: #727272;
                    text-transform: lowercase;
                }
            }


            .thumb_img {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                flex-direction: row-reverse;

                &:not(:last-child) {
                    margin-bottom: 8px;
                }

                .thumb {
                    display: block;
                    max-width: 135px;
                    max-height: 120px;
                }

                >span {
                    padding-right: 3px;
                }
            }
        }
    }
}