@import "./mixins.scss";

.edit {
    width: 360px;
    height: 100%;
    padding-top: 0;
    overflow-x: hidden;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }

    .editHeader {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        border-bottom: 1px solid $color-border;
        background: #f7f7f7;
        height: 25px;

        .editHeaderLeft {
            .editHeaderText {
                b {
                    @include font('NYTCheltenham', 13px, $color-black, 500, normal);
                }
            }
        }

        .editHeaderRight {
            padding: 1px;
            @include flex;
        }
    }

    .editBody {
        .handyEditContainer {
            transform-origin: top;
            @include baseBody($color-white);
        }

        .editForm {
            @include baseBody($color-white);
            padding: 0 0 3px 0;
        }

        .editInputGroup {
            padding: 0 3px;

            .editInput {
                @include font("Roslindale", 13px, $color-black, 500, normal, 15px);
                width: 100%;
                padding: 6px 0;
                background: $color-calendar-text-2;
                outline: none;
                border: none;
                text-align: center
            }

            .editInputItem {
                @include font("basier", 12px, $color-black, 400, normal, 15px);
                width: 100%;
                padding: 3px;
                background: none;
                outline: none;
                border: none;
                border-bottom: 1px solid $color-border;
                margin-bottom: 3px;
            }

            .editInputItemResult {
                border: 1px solid $color-border;
                min-height: 90px;
                resize: vertical;
                margin: 3px 0;

                &::-webkit-scrollbar {
                    display: none;
                }
            }
        }
    }
}