@import "./mixins.scss";

.edit {
    width: 360px;
    height: 100%;
    padding-top: 0;
    overflow-x: hidden;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }

    .editHeader {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        border-bottom: 1px solid $color-border;
        background: #f7f7f7;
        height: 25px;

        .editHeaderLeft {
            .editHeaderText {
                b {
                    @include font('NYTCheltenham', 13px, $color-black, 500, normal);
                }
            }
        }

        .editHeaderRight {
            padding: 1px;
            @include flex;
        }
    }

    .editBody {
        .handyEditContainer {
            transform-origin: top;
            @include baseBody($color-white);
        }

        .editForm {
            @include baseBody($color-white);
            padding: 0 0 3px 0;
        }

        .editInputGroup {
            padding: 0 3px;

            .editInput {
                @include font("Roslindale", 13px, $color-black, 500, normal, 15px);
                width: 100%;
                padding: 6px 0;
                background: $color-calendar-text-2;
                outline: none;
                border: none;
                text-align: center
            }

            .editInputItem {
                @include font("basier", 12px, $color-black, 400, normal, 15px);
                width: 100%;
                padding: 3px;
                background: none;
                outline: none;
                border: none;
                border-bottom: 1px solid $color-border;
                margin-bottom: 3px;
            }

            .editInputItemResult {
                border: 1px solid $color-border;
                min-height: 100px;
                resize: vertical;
                margin: 3px 0;
            }

            .editInputHandy {
                background-image: url("/images/main/paper.jpeg");
                background-size: cover;
            }
        }

        .editItemForm {
            padding: 3px 6px;

            input {
                border: 0;
                outline: 0;
            }

            .editItem {
                &--thumb {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    margin-bottom: 6px;
                }

                &--header {
                    @include font('NYTImperial', 12px, $color-black, 500, italic, 15px);
                    text-indent: 6px;
                    margin-bottom: 6px;
                    padding: 3px;
                    width: 21%;
                    border-radius: 3px;
                    background: #f7f7f7;
                }

                &--defs {
                    width: 170px;
                    @include flex-center;
                }

                &--def {
                    @include font('NYTCheltenham', 13px, $color-black, 700, normal, 15px);
                    text-indent: 3px;
                    background: #f7f7f7;
                    border-radius: 3px;
                    padding: 3px;
                    margin-bottom: 3px;
                    width: 30%;
                    text-overflow: ellipsis;

                    &:first-child {
                        width: 70%;
                        margin-right: 3px;
                    }
                }

                &--img {
                    width: 165px;
                    height: 112px;
                    border-radius: 3px;
                    background: #f7f7f7;
                    position: relative;


                }

                &--textarea {
                    @include font('NYTCheltenham', 13px, $color-black, 700, normal, 15px);
                    padding: 6px;
                    border: 0;
                    outline: 0;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    background: none;
                    width: 165px;
                    height: 112px;
                    resize: none;
                }

                &--imgbg {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 0;
                }

                &--xs {
                    @include flex-center;

                    img {
                        margin: 0 3px 3px 0;
                    }

                    .editItem--def {
                        width: 100%;
                    }
                }

                &--credit {
                    display: flex;
                    justify-content: flex-end;

                    .editItem--def {
                        width: 27%;
                    }

                    .editItem--def:not(:last-child) {
                        margin-right: 3px;
                    }
                }
            }
        }
    }
}