@import "./mixins.scss";

.flipCardLeftContent {
    width: 66px;
    height: 100%;
    overflow: hidden;

    .numberFlipContainer {
        width: 60px;
        height: 100%;
        margin-left: auto;
        border-left: 3px solid $color-white;
        border-right: 3px solid $color-white;
        position: relative;
        @include flex-center;

        .numberFlipBackground {
            position: absolute;
            top: 0;
            left: 2px;
            width: 50px;
            height: 390px;
            margin: 0 auto;
            background-image: url("/public/images/main/flagfabricver.png");
            background-size: 200px 390px;
            background-repeat: repeat-y;
            animation: moveBg 12s linear infinite;
        }

        .numberFlipContent {
            width: 46px;
            height: 46px;
            z-index: 999;
        }
    }
}

@keyframes moveBg {
    0% {
        transform: translateY(-195px);
    }

    50% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-195px);
    }
}


.numbersContentBackground {
    width: 100%;
    height: 100%;
    background-color: $color-white;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
}

.numbersContent {
    @include flex-center;
}

.numbers {
    @include flex-column;
}

.number {
    @include font('Fraktur', 24px, $color-black, normal, normal, 46px);
    text-align: center;
    vertical-align: middle;
}

.flipImage {
    width: 46px;
    height: 46px;
    background-color: $color-white;
    border-radius: 50%;
    margin: 0 auto;
    @include flex-center;
    overflow: hidden;

    .flipImageList {
        @include flex-center-column;

        img {
            height: 44px;
        }

        .number {
            line-height: 46px;
        }
    }
}

.flipCardRightContent {
    height: 186px;
    width: 294px;
    overflow: hidden;
}

.cardContent {
    width: 300%;
    height: 100%;
    transition: all .15s ease;
    display: flex;

    .cardTop {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        &--class {
            @include font('Roslindale', 14px, $color-white, 500, normal, 15px);
            width: 100%;
            text-align: left;
            padding-left: 18px;
            margin-bottom: 5px;
        }

        &--text {
            @include font('Roslindale', 14px, $color-white, 500, normal, 15px);
            margin-bottom: 4px;
            position: relative;
            text-indent: 18px;
            letter-spacing: 0.6px;
            width: 100%;
            text-align: left;
            padding-left: 27px;

            &::before {
                content: "";
                display: inline-block;
                width: 9px;
                height: 9px;
                background: url('/images/main/clover1.png');
                background-size: contain;
                position: absolute;
                top: 5px;
                left: 30px;
            }
        }
    }

    .cardBottom {
        width: 100%;
        height: 100%;
        @include flex-center-column;

        &--class {
            margin-top: 3px;
            @include font("SF-Pro", 9px, $color-white, normal, normal, 9px);
            margin-bottom: 21px;
        }

        &--text {
            @include font("Roslindale", 33px, $color-white, 600, normal, 42px);
            letter-spacing: 1.5px;
            -webkit-font-smoothing: subpixel-antialiased;
            width: 100%;
            word-break: break-word;
            hyphens: auto;
            text-align: center;
            margin-top: -6px;
        }

        &--phonetic {
            @include font("SF-Pro", 20px, $color-red-3, 600, normal, 27px);
        }

        &--date {
            display: none;
        }

    }

}

.cardContent:hover,
.cardContent--hover-1 {
    transform: translateX(-294px);
}

.cardContent--hover-2 {
    transform: translateX(-588px);
}