@import "./mixins.scss";

.flipCardLeftContent {
    width: 66px;
    height: 100%;

    .numberFlipContainer {
        width: 60px;
        height: 100%;
        margin-left: auto;
        border-left: 3px solid $color-white;
        border-right: 3px solid $color-white;
        position: relative;
        @include flex-center;

        .numberFlipBackground {
            position: absolute;
            top: 0;
            left: 2px;
            width: 50px;
            height: 390px;
            margin: 0 auto;
            background-image: url("/public/images/main/flagfabricver.png");
            background-size: 200px 390px;
            background-repeat: repeat-y;
            animation: moveBg 15s linear infinite;
        }

        .numberFlipContent {
            width: 46px;
            height: 46px;
            z-index: 999;
        }
    }
}

@keyframes moveBg {
    0% {
        transform: translateY(-195px);
    }

    50% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-195px);
    }
}


.numbersContentBackground {
    width: 100%;
    height: 100%;
    background-color: $color-white;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
}

.numbersContent {
    @include flex-center;
}

.numbers {
    @include flex-column;
}

.number {
    @include font('Fraktur', 24px, $color-black, normal, normal, 46px);
    text-align: center;
    vertical-align: middle;
}

.flipImage {
    width: 46px;
    height: 46px;
    background-color: $color-white;
    border-radius: 50%;
    margin: 0 auto;
    @include flex-center;
    overflow: hidden;

    .flipImageList {
        @include flex-center-column;

        img {
            height: 44px;
        }

        .number {
            line-height: 46px;
        }
    }
}

.flipCardRightContent {
    height: 186px;
    width: 294px;
    perspective: 890px;
    position: relative;
}

.cube {
    position: relative;
    height: 170px;
    width: 268px;
    transform-style: preserve-3d;
    transform: translate(15px, 7px);
    transition: 0.6s ease;
    transform-style: preserve-3d;

    &--front {
        width: 100%;
        height: 100%;
        position: absolute;
        background: $color-black;
        backface-visibility: hidden;
        transform: translate3d(0, 0, 85px);
    }

    &--bottom {
        width: 100%;
        height: 100%;
        position: absolute;
        background: $color-background-3;
        transform: translate3d(0, 84px, 0)rotateX(-90deg)rotateY(0)rotateZ(0);
    }

    &--back {
        width: 100%;
        height: 100%;
        position: absolute;
        background: $color-black;
        transform: translate3d(0, 0, -85px);
    }

    &--top {
        width: 100%;
        height: 100%;
        position: absolute;
        background: $color-background-3;
        transform: translate3d(0, -50%, 0)rotateX(90deg)rotateY(0)rotateZ(0);
    }

    &--content--front {
        width: 100%;
        height: 100%;
        @include flex-center-column;
    }

    &--content--back {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-start;
        padding: 54px 0 0 12px;
        transform: scale(1, -1);
    }

    &--class {
        @include font("SF-Pro", 9px, $color-white, normal, normal, 9px);
    }

    &--text {
        @include font("Roslindale", 33px, $color-white, 600, normal, 36px);
        letter-spacing: 1.5px;
        padding: 3px 0;
        -webkit-font-smoothing: subpixel-antialiased;
        width: 100%;
        word-break: break-word;
        hyphens: auto;
        text-align: center;
    }

    &--phonetic {
        @include font("SF-Pro", 20px, $color-red-3, bold, normal, 27px);
    }

    &--date {
        display: none;
    }

    &--meaning {
        .cubeMeaningClass {
            @include font('Roslindale', 14px, $color-white, 500, normal, 15px);
            margin: 5px 0 5px -9px;
        }

        .cubeMeaningText {
            @include font('Roslindale', 14px, $color-white, 500, normal, 15px);
            margin-bottom: 4px;
            position: relative;
            text-indent: 19px;

            &::before {
                content: "";
                display: inline-block;
                width: 15px;
                height: 15px;
                background: url('/images/main/clover1.png');
                background-size: contain;
                position: absolute;
                top: 1px;
                left: 0;
            }
        }
    }


}

.cube:hover,
.cube--hover {
    transform: translate(15px, 7px) rotateX(180deg);
}