@import "./mixins.scss";

.login {
    @include flex-center;
    background: $color-black;
    height: 100vh;

    .loginForm {
        width: 360px;
        height: 100%;
        border-left: 1px solid $color-border;
        border-right: 1px solid $color-border;
        padding-top: 30vh;

        .loginItem {
            @include flex-center;
            width: 100%;
            margin-bottom: 3px;

            .loginInput {
                background: $color-white;
                height: 25px;
                border-radius: 15px;
                font-size: 12px;
                transition: all .3s ease;
                text-align: center;
                border: 0;
                outline: 0;
            }

            .loginBtn {
                margin-top: 6px;
                @include flex-center;
                width: 22px;
                height: 22px;
                border-radius: 50%;
                border: 0;
                outline: 0;
                cursor: pointer;
                transition: all .2s;
                @include flex-center;
                background: none;

                img {
                    width: 18px;
                }
            }
        }

        .loginAlert {
            @include font("SF-Display", 12px, $color-red-2, 400, normal, 21px);
            text-align: center;
            margin-top: 6px;
        }
    }

}