@import "./mixins.scss";

.login {
    @include flex-center;
    background: $color-black;
    height: 100vh;

    .loginForm {
        width: 360px;
        height: 100%;
        border-left: 1px solid $color-border;
        border-right: 1px solid $color-border;
        padding-top: 27vh;

        .loginItem {
            @include flex-center;
            width: 100%;
            margin-bottom: 3px;


            .loginInput {
                height: 30px;
                width: 180px;
                border-radius: 3px;
                font-size: 12px;
                transition: all .3s ease;
                text-align: center;
                background: $color-black;
                outline: 0;
                border: 0.1px solid $color-border;
                color: #a59885;
                padding-top: 2px;
            }

            .loginInput:-webkit-autofill {
                background-color: transparent !important;
                -webkit-box-shadow: 0 0 0 50px #000 inset;
                -webkit-text-fill-color: #a59885;
            }

            .loginBtn {
                margin-top: 15px;
                width: 25px;
                border: 0;
                outline: 0;
                cursor: pointer;
                transition: all .2s;
                @include flex-center;
                background: none;
                position: relative;
                border-radius: 3px;
                overflow: hidden;

                img,
                svg {
                    transition: 1.2s ease-in-out;
                    opacity: 0.3;
                    transform: rotate(180deg);
                }

                &:hover {

                    img,
                    svg {
                        opacity: 0.9;
                        transform: rotate(-360deg);
                    }
                }
            }
        }

        .loginAlert {
            @include font("SF-Display", 12px, $color-red-2, 400, normal, 21px);
            text-align: center;
            margin-top: 6px;
        }
    }

}