@import "./fonts.scss";
@import "./mixins.scss";

.login {
    @include flex-center;
    background: $color-black;
    height: 100vh;

    .loginForm {
        width: 360px;
        height: 100%;
        border-left: 1px solid $color-border;
        border-right: 1px solid $color-border;
        padding-top: 30vh;

        .loginItem {
            background: $color-black;
            @include flex-center;
            padding-left: 24px;

            .loginInput {
                background: $color-white;
                height: 25px;
                border-radius: 15px;
                font-size: 12px;
                transition: all .3s ease;
                text-align: center;
                border: 0;
                outline: 0;
            }

            .loginBtn {
                @include flex-center;
                width: 21px;
                height: 21px;
                border-radius: 50%;
                margin-left: 3px;
                border: 0;
                outline: 0;
                background: #ca140c;
                cursor: pointer;
                transition: all .2s;
                opacity: 0;
            }

            &:hover {
                .loginBtn {
                    opacity: 1;
                }
            }
        }

        .loginAlert {
            @include font("SF-Pro", 12px, $color-red-2, 400, normal, 21px);
            text-align: center;
            margin-top: 6px;
        }
    }

}