$color-border: #343434;
$color-black: #000000;
$color-white: #ffffff;
$color-background-1: #070707;
$color-background-2: #0c0c0c;
$color-background-3: #19191c;
$color-background-4: #dcd8d1;
$color-background-5: #363636;
$color-red-1: #f90000;
$color-red-2: #de0000;
$color-red-3: #ca140c;
$color-red-4: #d35542;
$color-calendar-bg: rgba(255, 255, 255, 0.96);
$color-calendar-white: #f4f4f4;
$color-calendar-black: #161616;
$color-calendar-border: #16161633;
$color-calendar-text-1: #383838;
$color-calendar-text-2: #0000004d;
$color-calendar-text-3: #ffffff73;
$color-calendar-green-1: #38E07B;
$color-calendar-green-2: #A7F1C4;
$color-vintage-1: #957c3e;
$color-vintage-2: #706659;
$color-vintage-background: #fffeff;



@mixin font($family: false, $size: false, $colour: false, $weight: false, $style: false, $lh: false) {

  @if $family {
    font-family: $family ;
  }

  @else {
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  }

  @if $size {
    font-size: calculateRem($size);
  }

  @if $colour {
    color: $colour;
  }

  @if $weight {
    font-weight: $weight;
  }

  @if $style {
    font-style: $style;
  }

  @if $lh {
    line-height: calculateRem($lh);
  }
}

@function calculateRem($size) {
  $remSize: calc($size / 16px);
  @return $remSize * 1rem;
}

@mixin flex {
  display: flex;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-center-column {
  @include flex-center;
  flex-direction: column;
}

@mixin baseButton($width) {
  width: $width;
  height: round(calc($width *19/36));
  margin-left: 1px;
  border-radius: 3px;
  outline: 0;
  border: none;
  color: #ececec;
  background-color: $color-background-1;
  cursor: pointer;
  transition: 0.2s ease;
  @include flex-center();
  background-image: url('/images/main/input-left-corner.png'),
    url('/images/main/input-right-corner.png');
  background-position: left top,
    right top;
  background-repeat: no-repeat,
    no-repeat;
  background-size: auto 100%,
    auto 100%;

  &:hover {
    color: $color-white;
  }

  &:disabled {
    opacity: 0.3;
  }
}

@mixin baseBody($bg: $color-background-4) {
  @include font("nyt-imperial", 12px, false, 400, normal, 16px);
  padding: 3px;
  margin-bottom: 1px;
  background: $bg;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

@mixin myInput() {
  height: 25px;
  @include font("basier", 11px, $color-white, 400, normal, 16px);
  padding: 0 9px;
  background: $color-background-input;
  border: 0;
  outline: 0;
}

// -------------------RESPONSIVE START-------------------- //
@media only screen and (max-width: 960px) {
  .mainDescriptionContainter {
    display: none !important;
  }
}

@media only screen and (max-width: 650px) {

  .mainImageContainer,
  .mainDescriptionContainter {
    display: none !important;
  }

  .main {
    @include flex-center();
  }

  .mainImageContent {
    border-left: 1px solid $color-border;
    border-right: 1px solid $color-border;
  }

}

// -------------------RESPONSIVE END-------------------- //