@import "./fonts.scss";
@import "./mixins.scss";

.quoteContainer {
    @include baseBody;
    width: 360px;
    padding: 0 !important;

    .quoteHeader {
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        @include flex;
        justify-content: space-between;
        border-bottom: 1px solid $color-boder;
        background: $color-background-4;
        padding: 3px 0 3px 3px;

        .quoteHeaderLeft {
            @include flex;

            .quoteBtn {
                @include baseButton(36px);
            }

            .quoteBtnActive {
                color: #ffc107;

                &:hover {
                    color: #ffc107;
                }
            }

            .quoteBtnCopied {
                color: $color-white;
            }
        }

        .quoteBtnClose {
            margin-right: 2px;
            @include baseButton(28px);
        }
    }

    .quoteBody {
        font-size: 12.5px;
        line-height: 1.1rem;
        padding: 6px 12px;

        .quoteDropCap {
            @include font("nyt-cheltenham", 45px, $color-white, 700, normal, 45px);
            background: $color-black;
            text-align: center;
            float: left;
            padding: 0 4px;
            @include flex-center;
            margin-right: 3px;
            margin-top: 3px;
        }

        .quoteMark {
            font-size: 32px;
            font-weight: 700;
            line-height: 1rem;
            display: inline-block;
            height: 1rem;
        }
    }
}