@import "./mixins.scss";

.rss {
  height: calc(100vh - 351px);
  overflow-y: scroll;
  margin-left: 15px;
  margin-top: 3px;

  &::-webkit-scrollbar {
    display: none;
  }

  .rssTop {
    width: 330px;
    height: 25px;
    overflow: hidden;
    @include flex-center;
    position: fixed;
    bottom: 34px;
    left: calc(-165px + 50vw);
    z-index: 999;
    background-color: $color-calendar-bg;

    .rssBtn {
      background: none;
      border: 0;
      outline: 0;
      margin-right: 9px;
      cursor: pointer;
      width: 18px;
      height: 18px;
      transition: transform 0.3s;

      img {
        object-fit: contain;
        width: 100%;
      }

      &:hover img {
        transform: scale(1.1);
      }
    }

    .rssBtnDelete {
      width: 21px;
      height: 21px;
      border-radius: 3px;
      border: 0;
      outline: 0;
      cursor: pointer;
      transition: 0.1s;
      background: $color-background-1;
      @include font("Roslindale", 14px, $color-white, 700, normal, 21px);
      background-image: url('/images/main/input-left-corner.png'),
        url('/images/main/input-right-corner.png');
      background-position: left top,
        right top;
      background-repeat: no-repeat,
        no-repeat;
      background-size: auto 100%,
        auto 100%;
    }
  }

  .rssBody {
    padding-bottom: 27px;

    .rssItem {
      @include baseBody;
      display: flex;
      align-items: flex-start;
      padding: 3px 6px;
      margin-bottom: 2px;
      width: 330px;

      .rssItemImg {
        display: block;
        width: 120px;
        height: 120px;
        padding: 3px 0;
        object-fit: cover;
        margin-right: 6px;
        border-radius: 6px;
      }

      .rssItemContent {
        .rssItemDate {
          @include font("NYTImperial", 10px, $color-black, 500, italic, 14px);
        }

        .rssItemTitle {
          @include font('NYTCheltenham', 13px, #121212, 700, normal, 14px);
          margin-bottom: 3px;
        }

        .rssItemDescription {
          @include font("NYTImperial", 11px, #5A5A5A, 500, normal, 14px);
        }
      }
    }

  }
}