@import "./mixins.scss";

.translate {
    @include baseBody($color-calendar-bg);
    width: 360px;
    padding-top: 0;

    .translateBody {
        .translateInput {
            width: 100%;
            height: 21px;
            background: $color-calendar-text-2;
            border: 0;
            outline: 0;
            font-size: 11px;
            padding: 3px;
        }

        .translateTranslation {
            @include font('Roslindale', 14px, $color-black, 500, normal, 16px);
            text-align: center;
            text-transform: lowercase;
            cursor: default;
            padding: 6px 0;
        }

        .translateContentItem {
            p {
                @include font('Roslindale', 13px, $color-black, 500, normal, 16px);
                margin: 3px 0;
                cursor: default;
                display: inline-block;
            }

            .translateContentItemText {
                .translateContentItemRow {
                    display: grid;
                    grid-template-columns: 2fr 3fr 1fr;
                    align-items: start;

                    span:nth-child(1) {
                        cursor: default;
                        margin-left: 2px;
                        font-family: 'Times New Roman', Times, serif;
                    }

                    span:nth-child(2) {
                        font-size: 10px;
                    }

                    .frequencyContainer {
                        @include flex-center;
                        padding-top: 3px;

                        .frequencyDot {
                            border-radius: 2px;
                            height: 5px;
                            margin: 1px;
                            width: 9px;
                            background: #1A73E8;
                        }

                        .frequencyClear {
                            border-radius: 2px;
                            height: 5px;
                            margin: 1px;
                            width: 9px;
                            background: $color-calendar-text-2;
                        }
                    }
                }
            }
        }

    }
}

.newTranslateContainer {
    position: relative;
    width: 100%;
    width: 100%;
    height: 27px;
    background: $color-background-2;

    .myInputLeftOrnament {
        z-index: inherit;
        height: 27px;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 99;
    }

    .myInputRightOrnament {
        z-index: inherit;
        height: 27px;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 99;
    }

    .newTranslateInput {
        height: 27px;
        width: 100%;
        padding: 0 9px;
        background: none;
        border: 0;
        outline: 0;
        text-align: center;
        @include font('Roslindale', 15px, $color-white, 500, normal, 12px);
    }

    .translateBtn {
        cursor: pointer;
        transition: opacity 0.3s ease;
        margin-right: 6px;
        height: 27px;
        z-index: 1001;
        background-color: transparent;
        border: none;
        outline: none;
        position: absolute;
        right: 0;
        top: 0;
        @include flex;

        img {
            height: 18px;
        }
    }

}