@import "./mixins.scss";

.weather {
    min-width: 360px;
    max-width: 360px;
    height: calc(100vh - 34px);
    overflow-x: hidden;
    overflow-y: scroll;
    position: inherit;
    outline: none;
    background-size: cover;
    background-position: top left;
    animation: moveBg 300s linear infinite;

    &::-webkit-scrollbar {
        display: none;
    }

    .weatherGeos {
        background: none;
        outline: none;
        border: none;
        @include font('Rubik', 12px, $color-black, 400, normal, 12px);

        option {
            @include font('Rubik', 12px, $color-black, 400, normal, 12px);
        }
    }

    .weatherGeosNight {
        color: $color-background-4;
    }

    .weatherContent {
        width: 100%;
        @include flex-center;

        .weatherImg {
            width: 135px;
        }

        .weatherContentTemp {
            @include font('Rubik', 66px, $color-black, 400, normal, 50px);
        }

        .weatherContentInfo {
            @include font('Rubik', 10px, $color-black, 400, normal, 12px);
        }

        .weatherContentWind {
            @include flex;
            height: 10px;
            margin: 2px 0;

            p {
                @include font('Rubik', 10px, $color-black, 400, normal, 12px);
                margin-right: 3px;
            }
        }
    }

    .weatherContentNight {

        .weatherContentInfo,
        .weatherContentTemp,
        .weatherContentWind p {
            color: $color-background-4;
        }

        svg {
            fill: $color-background-4;
        }
    }

    .weatherPredict {
        @include font('Rubik', 12px, $color-black, 500, normal, 15px);
        text-align: center;
    }

    .weatherPredictNight {
        @include font('Rubik', 12px, $color-white, 500, normal, 15px);
        text-align: center;
    }
}




@keyframes moveBg {
    0% {
        background-position-x: 0;
    }

    50% {
        background-position-x: right;
    }

    100% {
        background-position-x: 0;
    }
}