@import "./styles/fonts.css";
@import "./styles/buttons.css";
@import "./styles/login.css";
@import "./styles/layout.css";
@import "./styles/tick.css";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

img {
  -webkit-user-drag: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

body {
  scroll-behavior: smooth;
  box-sizing: border-box;
}
