@import "./mixins.scss";

.button {
    margin-left: 1px;
    border-radius: 3px;
    outline: 0;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
    @include flex-center;
    overflow: hidden;
    font-family: $f-button;
    font-size: 10px;
    background-color: transparent;
    background-image: url('/images/main/input-left-corner.webp'),
        url('/images/main/input-right-corner.webp');
    background-position: left top,
        right top;
    background-repeat: no-repeat,
        no-repeat;
    background-size: 7px 15px,
        7px 15px;


    &:disabled {
        opacity: 0.3;
    }

    &:active {
        svg {
            transform: scale(0.9)
        }
    }

}

.buttonMenu {
    width: 90px;
    height: 30px;
    transition: 0.3s ease;
    overflow: hidden;
    position: relative;
    outline: 0;
    border: none;
    background: none;
    cursor: pointer;
    box-shadow: 0 0 16px rgba(0, 0, 0, .28);
    border-radius: 3px 0 0 3px;

    .buttonMenuOrnament {
        position: absolute;
        z-index: 3;
        top: 0;
        left: 0;
        right: -1px;
        bottom: 0;
        background-image: url('/images/main/input-left-corner.webp'), url('/images/main/input-right-corner.webp');
        background-position: top left, top right;
        background-repeat: no-repeat, no-repeat;
        background-size: auto 30px, auto 30px;
    }

    img {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        object-fit: cover;
        object-position: center center;
    }

    span {
        position: absolute;
        @include font($f-buttonMenu, 14px, $color-white, 700, normal, 30px);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 12;
    }

    &:hover {
        span {
            text-shadow: 0px 3px 3px #000;
        }

        filter: brightness(1.2);
    }
}

.buttonMenuActive {
    @extend .buttonMenu;

    span {
        color: $color-calendar-green-1 !important;
    }

    &:hover {
        span {
            text-shadow: 0px 0px 12px $color-calendar-green-2 !important;
        }
    }

}

.buttonPrimary {
    @extend .button;
    background-color: $color-background-1;
    color: #ececec;
    width: 28px;
    height: 15px;

    background-size: 7px 15px,
        7px 15px;

    &:hover {
        color: $color-white;
    }
}

.buttonSuccess {
    @extend .button;
    background-color: $color-background-1;
    color: #ececec;
    width: 28px;
    height: 15px;

    &:hover {
        color: $color-calendar-green-1;
    }
}

.buttonSubmit {
    @extend .button;
    background-color: $color-background-1;
    color: #ececec;
    width: 42px;
    height: 22px;
    margin-top: 3px;
    background-size: 10px 22px,
        10px 22px;

    span {
        margin: 3px 0 0 0;
    }

    &:hover {
        color: $color-white;
    }
}

.buttonClose {
    @extend .button;
    background-color: $color-background-1;
    color: #ececec;
    width: 28px;
    height: 15px;
    transition: 0.1s;

    &:hover {
        color: $color-white;
        background-color: $color-red-2;
    }
}

.buttonBookmark {
    color: #ececec;
    width: 36px;
    height: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
    background: none;
    @include flex-center;

    svg {
        transition: 0.25s ease;
        transform: scale(0.9);
        filter: drop-shadow(0 3px 3px #00000036);
    }

    &:hover {
        color: $color-white;

        svg {
            transform: scale(1);
        }
    }
}