@use "./mixins.scss" as *;

.button {
    margin-left: 1px;
    border-radius: 3px;
    outline: 0;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
    @include flex-center;
    overflow: hidden;
    font-family: $f-button;
    font-size: 10px;
    background-color: transparent;
    background-image: url('/images/main/input-left-corner.webp'),
        url('/images/main/input-right-corner.webp');
    background-position: left top,
        right top;
    background-repeat: no-repeat,
        no-repeat;
    background-size: 7px 15px,
        7px 15px;


    &:disabled {
        opacity: 0.3;
    }

    &:active {
        svg {
            transform: scale(0.9)
        }
    }

}

.buttonMenu {
    width: 86px;
    height: 36px;
    transition: all 0.3s ease;
    overflow: hidden;
    position: relative;
    outline: 0;
    cursor: pointer;
    box-shadow: 0 0 16px rgba(0, 0, 0, .28);
    background: #000000;
    border: 1px solid $color-border;
    border-right: none;

    .leftOrnament {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        object-fit: cover;
    }

    .buttonMenuImage {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        object-fit: cover;
    }

    .buttonMenuImageTimer {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

        img {
            object-fit: cover;
            object-position: top left;
        }
    }

    .rightOrnament {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 3;
        object-fit: cover;
    }

    span {
        position: absolute;
        @include font($f-buttonMenu, 16px, $color-white, 700, normal, 34px);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 12;
        text-shadow: 1px 1px 1px #000000;
    }

}

.buttonPrimary {
    @extend .button;
    background-color: $color-background-1;
    color: #ececec;
    width: 28px;
    height: 15px;

    background-size: 7px 15px,
        7px 15px;

    &:hover {
        color: $color-white;
    }
}

.buttonSuccess {
    @extend .button;
    background-color: $color-background-1;
    color: #ececec;
    width: 28px;
    height: 15px;

    &:hover {
        color: $color-calendar-green-1;
    }
}

.buttonSubmit {
    @extend .button;
    background-color: $color-background-1;
    color: #ececec;
    width: 42px;
    height: 22px;
    margin-top: 3px;
    background-size: 10px 22px,
        10px 22px;

    span {
        margin: 3px 0 0 0;
    }

    &:hover {
        color: $color-white;
    }
}

.buttonClose {
    @extend .button;
    background-color: $color-background-1;
    color: #ececec;
    width: 28px;
    height: 15px;
    transition: 0.1s;

    &:hover {
        color: $color-white;
        background-color: $color-red-2;
    }
}

.buttonBookmark {
    color: #ececec;
    width: 36px;
    height: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
    background: none;
    @include flex-center;

    svg {
        transition: 0.25s ease;
        transform: scale(0.9);
        filter: drop-shadow(0 3px 3px #00000036);
    }

    &:hover {
        color: $color-white;

        svg {
            transform: scale(1);
        }
    }
}