@import "./mixins.scss";


.formBody {
    @include baseBody($color-white);

    .formInputGroup {
        border-bottom: 1px solid $color-border;
        margin-bottom: 3px;

        .formInput {
            @include font("SF Pro Display", 12px, $color-black, 400, normal, 15px);
            width: 100%;
            padding: 3px;
            background: none;
            outline: none;
            border: none;
        }

        .formTextarea {
            @include font("Basier", 12px, $color-black, 400, normal, 15px);
            width: 100%;
            padding: 3px;
            background: none;
            outline: none;
            border: 1px solid $color-border;
            min-height: 150px;
        }
    }

}


.calendarFormGroupContainer {
    @include flex;
    width: 100%;
}

.calendarFormInputGroup {
    flex-grow: 1;

    &:not(:last-child) {
        margin-right: 3px;
    }

    .calendarFormInput {
        border: 1px solid $color-calendar-border;
        height: 21px;
        border-radius: 3px;
        padding: 3px;
        outline: 0;
        width: 100%;
        @include font('Rubik', 11px, $color-black, 400, normal, 18px);
    }

    .calendarFormSelect {
        border: 1px solid $color-calendar-border;
        height: 21px;
        border-radius: 3px;
        padding: 0 3px;
        outline: 0;
        width: 100%;
        @include font('Rubik', 11px, $color-white, 400, normal, 18px);
        background: $color-calendar-black;
    }
}