$color-border: #343434;
$color-black: #000000;
$color-white: #ffffff;
$color-background-1: #070707;
$color-background-2: #0c0c0c;
$color-background-3: #121212;
$color-background-4: #dcd8d1;
$color-background-5: #363636;
$color-red-1: #f90000;
$color-red-2: #de0000;
$color-red-3: #ca140c;
$color-red-4: #d35542;
$color-calendar-bg: #fffffff5;
$color-calendar-white: #f4f4f4;
$color-calendar-black: #161616;
$color-calendar-border: #16161633;
$color-calendar-text-1: #383838;
$color-calendar-text-2: #0000004d;
$color-calendar-text-3: #ffffff73;
$color-calendar-green-1: #38E07B;
$color-calendar-green-2: #A7F1C4;
$color-vintage-1: #957c3e;
$color-vintage-2: #706659;
$color-vintage-background: #fffeff;



@mixin font($family: false, $size: false, $colour: false, $weight: false, $style: false, $lh: false) {

  @if $family {
    font-family: $family ;
  }

  @else {
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  }

  @if $size {
    font-size: calculateRem($size);
  }

  @if $colour {
    color: $colour;
  }

  @if $weight {
    font-weight: $weight;
  }

  @if $style {
    font-style: $style;
  }

  @if $lh {
    line-height: calculateRem($lh);
  }
}

@function calculateRem($size) {
  $remSize: calc($size / 16px);
  @return $remSize * 1rem;
}

@mixin flex {
  display: flex;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-center-column {
  @include flex-center;
  flex-direction: column;
}

@mixin baseBody($bg: $color-background-4) {
  @include font("NYTImperial", 12px, $color-black, 500, normal, 16px);
  padding: 3px;
  margin-bottom: 1px;
  background: $bg;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

@mixin myInput() {
  height: 25px;
  @include font("Basier", 11px, $color-white, 400, normal, 16px);
  padding: 0 9px;
  background: $color-background-input;
  border: 0;
  outline: 0;
}

// -------------------RESPONSIVE START-------------------- //
@media only screen and (max-width: 960px) {}

@media only screen and (max-width: 550px) {

  .mainButtons,
  .mainLeft,
  .mainRight {
    display: none !important;
  }
}

// -------------------RESPONSIVE END-------------------- //


@font-face {
  font-family: "NYTCheltenham-Book";
  src: url("/fonts/cheltenham/NYTCheltenham-BookItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "NYTCheltenham-Book";
  src: url("/fonts/cheltenham/NYTCheltenham-Book.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NYTCheltenham";
  src: url("/fonts/cheltenham/NYTCheltenham-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "NYTCheltenham";
  src: url("/fonts/cheltenham/NYTCheltenham-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NYTCheltenham";
  src: url("/fonts/cheltenham/NYTCheltenham-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "NYTCheltenham";
  src: url("/fonts/cheltenham/NYTCheltenham-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NYTCheltenham";
  src: url("/fonts/cheltenham/NYTCheltenham-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NYTCheltenham";
  src: url("/fonts/cheltenham/NYTCheltenham-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}


@font-face {
  font-family: "NYTImperial";
  src: url("/fonts/imperial/NYTImperial-Italic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "NYTImperial";
  src: url("/fonts/imperial/NYTImperial-Regular.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NYTImperial";
  src: url("/fonts/imperial/NYTImperial-SemiboldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "NYTImperial";
  src: url("/fonts/imperial/NYTImperial-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NYTImperial";
  src: url("/fonts/imperial/NYTImperial-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "NYTImperial";
  src: url("/fonts/imperial/NYTImperial-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}



@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}


@font-face {
  font-family: "Roslindale";
  src: url("/fonts/roslindale/Roslindale-DisplayLight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roslindale";
  src: url("/fonts/roslindale/Roslindale-DisplayRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roslindale";
  src: url("/fonts/roslindale/Roslindale-DisplayMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roslindale";
  src: url("/fonts/roslindale/Roslindale-DisplaySemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roslindale";
  src: url("/fonts/roslindale/Roslindale-DisplayBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roslindale";
  src: url("/fonts/roslindale/Roslindale-DisplayUltra.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roslindale-Text";
  src: url("/fonts/roslindale/Roslindale-TextSemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roslindale-Text";
  src: url("/fonts/roslindale/Roslindale-TextItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}



@font-face {
  font-family: "Rubik";
  src: url("/fonts/rubik/Rubik-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("/fonts/rubik/Rubik-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("/fonts/rubik/Rubik-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("/fonts/rubik/Rubik-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("/fonts/rubik/Rubik-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("/fonts/rubik/Rubik-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("/fonts/rubik/Rubik-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}



@font-face {
  font-family: "Basier";
  src: url("/fonts/others/basiersquare-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fraktur";
  src: url("/fonts/others/Fraktur.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF-Pro';
  src: url('/fonts/others/SFPro-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}